In [3]:
import numpy as np
import pandas as pd
import itertools 
import matplotlib.pyplot as plt
import math

In [4]:
df_bancolombia = pd.read_csv("bancolombia.csv")
df_bancolombia

           Date     Price      Open      High       Low     Vol. Change %
0    03/01/2024  33,000.0  32,860.0  33,400.0  32,860.0  176.65K    0.18%
1    02/29/2024  32,940.0  33,420.0  34,000.0  32,940.0  781.41K   -1.61%
2    02/28/2024  33,480.0  33,480.0  34,540.0  33,480.0  100.06K    0.00%
3    02/27/2024  33,480.0  33,440.0  33,740.0  33,380.0  140.23K   -0.06%
4    02/26/2024  33,500.0  34,000.0  34,320.0  33,500.0  200.64K   -1.35%
..          ...       ...       ...       ...       ...      ...      ...
949  04/07/2020  26,000.0  26,000.0  27,020.0  25,760.0  421.29K    2.36%
950  04/06/2020  25,400.0  24,400.0  25,900.0  24,020.0  305.28K    6.72%
951  04/03/2020  23,800.0  23,940.0  23,940.0  23,460.0  446.59K   -4.42%
952  04/02/2020  24,900.0  23,500.0  24,900.0  23,080.0  192.25K    3.75%
953  04/01/2020  24,000.0  24,120.0  24,120.0  23,220.0  291.11K   -0.41%

[954 rows x 7 columns]

# Preprocesamiento

In [5]:
#Eliminar columnas inútiles
df_bancolombia = df_bancolombia.drop(columns=['Open','High','Low','Vol.','Change %'])

#Se invierte el dataframe para empezar desde los datos mas antiguos
df_bancolombia = df_bancolombia.iloc[::-1]
df_bancolombia = df_bancolombia.reset_index(drop=True)

#Convertir los precios de string a float
df_bancolombia['Price'] = df_bancolombia['Price'].str.replace(',', '')
df_bancolombia['Price'] = df_bancolombia['Price'].astype(float)

#Añade la columna Y_n definida en la guía
new_col = [0]
for i in range(1, len(df_bancolombia)):
    new_col.append(float((df_bancolombia['Price'][i]/df_bancolombia['Price'][i-1]) - 1))
df_bancolombia.insert(2, 'Yn', new_col, True)

#Eliminamos primer dato debido a que no se puede calcular Yn
df_bancolombia = df_bancolombia.drop([0])
df_bancolombia = df_bancolombia.reset_index(drop=True)

In [6]:
# Temporalmente ajusta las opciones de visualización para el DataFrame df_bancolombia
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_bancolombia)

           Date    Price         Yn
0    04/02/2020  24900.0  3.750e-02
1    04/03/2020  23800.0 -4.418e-02
2    04/06/2020  25400.0  6.723e-02
3    04/07/2020  26000.0  2.362e-02
4    04/08/2020  26100.0  3.846e-03
5    04/13/2020  26960.0  3.295e-02
6    04/14/2020  26720.0 -8.902e-03
7    04/15/2020  26800.0  2.994e-03
8    04/16/2020  26880.0  2.985e-03
9    04/17/2020  26500.0 -1.414e-02
10   04/20/2020  26200.0 -1.132e-02
11   04/21/2020  24800.0 -5.344e-02
12   04/22/2020  24780.0 -8.065e-04
13   04/23/2020  24500.0 -1.130e-02
14   04/24/2020  23040.0 -5.959e-02
15   04/27/2020  24500.0  6.337e-02
16   04/28/2020  25500.0  4.082e-02
17   04/29/2020  25020.0 -1.882e-02
18   04/30/2020  25320.0  1.199e-02
19   05/04/2020  24140.0 -4.660e-02
20   05/05/2020  23720.0 -1.740e-02
21   05/06/2020  23000.0 -3.035e-02
22   05/07/2020  24240.0  5.391e-02
23   05/08/2020  24000.0 -9.901e-03
24   05/11/2020  23600.0 -1.667e-02
25   05/12/2020  23500.0 -4.237e-03
26   05/13/2020  22260.0 -5.277e-02
27   05/14/2020  21480.0 -3.504e-02
28   05/15/2020  21520.0  1.862e-03
29   05/18/2020  22800.0  5.948e-02
30   05/19/2020  21620.0 -5.175e-02
31   05/20/2020  21520.0 -4.625e-03
32   05/21/2020  21700.0  8.364e-03
33   05/22/2020  21220.0 -2.212e-02
34   05/26/2020  22300.0  5.090e-02
35   05/27/2020  23980.0  7.534e-02
36   05/28/2020  23700.0 -1.168e-02
37   05/29/2020  25000.0  5.485e-02
38   06/01/2020  25020.0  8.000e-04
39   06/02/2020  25000.0 -7.994e-04
40   06/03/2020  27000.0  8.000e-02
41   06/04/2020  27320.0  1.185e-02
42   06/05/2020  28600.0  4.685e-02
43   06/08/2020  29600.0  3.497e-02
44   06/09/2020  29000.0 -2.027e-02
45   06/10/2020  26300.0 -9.310e-02
46   06/11/2020  25220.0 -4.106e-02
47   06/12/2020  25700.0  1.903e-02
48   06/16/2020  25500.0 -7.782e-03
49   06/17/2020  25360.0 -5.490e-03
50   06/18/2020  25600.0  9.464e-03
51   06/19/2020  27380.0  6.953e-02
52   06/23/2020  25420.0 -7.159e-02
53   06/24/2020  25000.0 -1.652e-02
54   06/25/2020  24740.0 -1.040e-02
55   06/26/2020  23820.0 -3.719e-02
56   06/30/2020  24000.0  7.557e-03
57   07/01/2020  24000.0  0.000e+00
58   07/02/2020  24680.0  2.833e-02
59   07/03/2020  24960.0  1.135e-02
60   07/06/2020  24440.0 -2.083e-02
61   07/07/2020  24120.0 -1.309e-02
62   07/08/2020  25500.0  5.721e-02
63   07/09/2020  24800.0 -2.745e-02
64   07/10/2020  24980.0  7.258e-03
65   07/13/2020  24680.0 -1.201e-02
66   07/14/2020  24120.0 -2.269e-02
67   07/15/2020  23860.0 -1.078e-02
68   07/16/2020  24320.0  1.928e-02
69   07/17/2020  24440.0  4.934e-03
70   07/21/2020  24560.0  4.910e-03
71   07/22/2020  24900.0  1.384e-02
72   07/23/2020  25480.0  2.329e-02
73   07/24/2020  25480.0  0.000e+00
74   07/27/2020  26700.0  4.788e-02
75   07/28/2020  26340.0 -1.348e-02
76   07/29/2020  26500.0  6.074e-03
77   07/30/2020  26400.0 -3.774e-03
78   07/31/2020  26800.0  1.515e-02
79   08/03/2020  25620.0 -4.403e-02
80   08/04/2020  25000.0 -2.420e-02
81   08/05/2020  25340.0  1.360e-02
82   08/06/2020  25000.0 -1.342e-02
83   08/10/2020  25400.0  1.600e-02
84   08/11/2020  24780.0 -2.441e-02
85   08/12/2020  24980.0  8.071e-03
86   08/13/2020  25500.0  2.082e-02
87   08/14/2020  25140.0 -1.412e-02
88   08/18/2020  25520.0  1.512e-02
89   08/19/2020  25100.0 -1.646e-02
90   08/20/2020  25520.0  1.673e-02
91   08/21/2020  25620.0  3.918e-03
92   08/24/2020  26200.0  2.264e-02
93   08/25/2020  26800.0  2.290e-02
94   08/26/2020  27000.0  7.463e-03
95   08/27/2020  26720.0 -1.037e-02
96   08/28/2020  26700.0 -7.485e-04
97   08/31/2020  26000.0 -2.622e-02
98   09/01/2020  27400.0  5.385e-02
99   09/02/2020  27700.0  1.095e-02
100  09/03/2020  27300.0 -1.444e-02
101  09/04/2020  27260.0 -1.465e-03
102  09/07/2020  27460.0  7.337e-03
103  09/08/2020  27040.0 -1.529e-02
104  09/09/2020  27140.0  3.698e-03
105  09/10/2020  26520.0 -2.284e-02
106  09/11/2020  26160.0 -1.357e-02
107  09/14/2020  25600.0 -2.141e-02
108  09/15/2020  25340.0 -1.016e-02
109  09/16/2020  25360.0  7.893e-04
110  09/17/2020  25700.0  1.341e-02
111  09/18/2020  26200.0  1.946e-02
112  09/21/2020  25340.0 -3.282e-02
113  09/22/2020  24800.0 -2.131e-02
114  09/23/2020  25000.0  8.065e-03
115  09/24/2020  24980.0 -8.000e-04
116  09/25/2020  25200.0  8.807e-03
117  09/28/2020  24900.0 -1.190e-02
118  09/29/2020  24460.0 -1.767e-02
119  09/30/2020  24280.0 -7.359e-03
120  10/01/2020  24160.0 -4.942e-03
121  10/02/2020  24500.0  1.407e-02
122  10/05/2020  24170.0 -1.347e-02
123  10/06/2020  25120.0  3.930e-02
124  10/07/2020  24660.0 -1.831e-02
125  10/08/2020  25460.0  3.244e-02
126  10/09/2020  25980.0  2.042e-02
127  10/13/2020  24600.0 -5.312e-02
128  10/14/2020  24980.0  1.545e-02
129  10/15/2020  24300.0 -2.722e-02
130  10/16/2020  24330.0  1.235e-03
131  10/19/2020  25170.0  3.453e-02
132  10/20/2020  25800.0  2.503e-02
133  10/21/2020  25660.0 -5.426e-03
134  10/22/2020  25090.0 -2.221e-02
135  10/23/2020  24990.0 -3.986e-03
136  10/26/2020  25900.0  3.641e-02
137  10/27/2020  25690.0 -8.108e-03
138  10/28/2020  24030.0 -6.462e-02
139  10/29/2020  23980.0 -2.081e-03
140  10/30/2020  24500.0  2.168e-02
141  11/03/2020  24800.0  1.224e-02
142  11/04/2020  24990.0  7.661e-03
143  11/05/2020  25180.0  7.603e-03
144  11/06/2020  25500.0  1.271e-02
145  11/09/2020  26780.0  5.020e-02
146  11/10/2020  26500.0 -1.046e-02
147  11/11/2020  26780.0  1.057e-02
148  11/12/2020  25940.0 -3.137e-02
149  11/13/2020  26330.0  1.503e-02
150  11/17/2020  26750.0  1.595e-02
151  11/18/2020  27000.0  9.346e-03
152  11/19/2020  27100.0  3.704e-03
153  11/20/2020  27680.0  2.140e-02
154  11/23/2020  28200.0  1.879e-02
155  11/24/2020  28300.0  3.546e-03
156  11/25/2020  27700.0 -2.120e-02
157  11/26/2020  27590.0 -3.971e-03
158  11/27/2020  27500.0 -3.262e-03
159  11/30/2020  27680.0  6.545e-03
160  12/01/2020  28200.0  1.879e-02
161  12/02/2020  28800.0  2.128e-02
162  12/03/2020  29400.0  2.083e-02
163  12/04/2020  30600.0  4.082e-02
164  12/07/2020  30700.0  3.268e-03
165  12/09/2020  32300.0  5.212e-02
166  12/10/2020  31720.0 -1.796e-02
167  12/11/2020  32000.0  8.827e-03
168  12/14/2020  32700.0  2.188e-02
169  12/15/2020  33730.0  3.150e-02
170  12/16/2020  34010.0  8.301e-03
171  12/17/2020  35200.0  3.499e-02
172  12/18/2020  34900.0 -8.523e-03
173  12/21/2020  33060.0 -5.272e-02
174  12/22/2020  34370.0  3.962e-02
175  12/23/2020  34040.0 -9.601e-03
176  12/24/2020  34650.0  1.792e-02
177  12/28/2020  34500.0 -4.329e-03
178  12/29/2020  34880.0  1.101e-02
179  12/30/2020  34980.0  2.867e-03
180  01/04/2021  33500.0 -4.231e-02
181  01/05/2021  35670.0  6.478e-02
182  01/06/2021  34100.0 -4.401e-02
183  01/07/2021  34310.0  6.158e-03
184  01/08/2021  35100.0  2.303e-02
185  01/12/2021  35000.0 -2.849e-03
186  01/13/2021  34580.0 -1.200e-02
187  01/14/2021  34380.0 -5.784e-03
188  01/15/2021  33100.0 -3.723e-02
189  01/18/2021  33450.0  1.057e-02
190  01/19/2021  32860.0 -1.764e-02
191  01/20/2021  32410.0 -1.369e-02
192  01/21/2021  32150.0 -8.022e-03
193  01/22/2021  31160.0 -3.079e-02
194  01/25/2021  30480.0 -2.182e-02
195  01/26/2021  30800.0  1.050e-02
196  01/27/2021  30000.0 -2.597e-02
197  01/28/2021  29900.0 -3.333e-03
198  01/29/2021  30600.0  2.341e-02
199  02/01/2021  31210.0  1.993e-02
200  02/02/2021  31610.0  1.282e-02
201  02/03/2021  31000.0 -1.930e-02
202  02/04/2021  31000.0  0.000e+00
203  02/05/2021  31500.0  1.613e-02
204  02/08/2021  31650.0  4.762e-03
205  02/09/2021  31690.0  1.264e-03
206  02/10/2021  31510.0 -5.680e-03
207  02/11/2021  31060.0 -1.428e-02
208  02/12/2021  30850.0 -6.761e-03
209  02/15/2021  30900.0  1.621e-03
210  02/16/2021  30900.0  0.000e+00
211  02/17/2021  31200.0  9.709e-03
212  02/18/2021  30890.0 -9.936e-03
213  02/19/2021  31100.0  6.798e-03
214  02/22/2021  31000.0 -3.215e-03
215  02/23/2021  31050.0  1.613e-03
216  02/24/2021  31800.0  2.415e-02
217  02/25/2021  30000.0 -5.660e-02
218  02/26/2021  31400.0  4.667e-02
219  03/01/2021  30710.0 -2.197e-02
220  03/02/2021  30450.0 -8.466e-03
221  03/03/2021  30300.0 -4.926e-03
222  03/04/2021  30380.0  2.640e-03
223  03/05/2021  30000.0 -1.251e-02
224  03/08/2021  29750.0 -8.333e-03
225  03/09/2021  30170.0  1.412e-02
226  03/10/2021  30140.0 -9.944e-04
227  03/11/2021  30160.0  6.636e-04
228  03/12/2021  30520.0  1.194e-02
229  03/15/2021  30400.0 -3.932e-03
230  03/16/2021  30040.0 -1.184e-02
231  03/17/2021  29700.0 -1.132e-02
232  03/18/2021  29800.0  3.367e-03
233  03/19/2021  29200.0 -2.013e-02
234  03/23/2021  29810.0  2.089e-02
235  03/24/2021  30000.0  6.374e-03
236  03/25/2021  30300.0  1.000e-02
237  03/26/2021  29500.0 -2.640e-02
238  03/29/2021  29200.0 -1.017e-02
239  03/30/2021  29030.0 -5.822e-03
240  03/31/2021  28750.0 -9.645e-03
241  04/05/2021  29360.0  2.122e-02
242  04/06/2021  29430.0  2.384e-03
243  04/07/2021  30000.0  1.937e-02
244  04/08/2021  30300.0  1.000e-02
245  04/09/2021  30700.0  1.320e-02
246  04/12/2021  29930.0 -2.508e-02
247  04/13/2021  29370.0 -1.871e-02
248  04/14/2021  29880.0  1.736e-02
249  04/15/2021  30850.0  3.246e-02
250  04/16/2021  30340.0 -1.653e-02
251  04/19/2021  30060.0 -9.229e-03
252  04/20/2021  30300.0  7.984e-03
253  04/21/2021  29800.0 -1.650e-02
254  04/22/2021  29360.0 -1.477e-02
255  04/23/2021  28800.0 -1.907e-02
256  04/26/2021  28990.0  6.597e-03
257  04/27/2021  29520.0  1.828e-02
258  04/28/2021  29000.0 -1.762e-02
259  04/29/2021  28500.0 -1.724e-02
260  04/30/2021  27920.0 -2.035e-02
261  05/03/2021  27400.0 -1.862e-02
262  05/04/2021  27100.0 -1.095e-02
263  05/05/2021  27660.0  2.066e-02
264  05/06/2021  28520.0  3.109e-02
265  05/07/2021  28940.0  1.473e-02
266  05/10/2021  29520.0  2.004e-02
267  05/11/2021  28940.0 -1.965e-02
268  05/12/2021  28660.0 -9.675e-03
269  05/13/2021  27910.0 -2.617e-02
270  05/14/2021  28960.0  3.762e-02
271  05/18/2021  28400.0 -1.934e-02
272  05/19/2021  28250.0 -5.282e-03
273  05/20/2021  27880.0 -1.310e-02
274  05/21/2021  27710.0 -6.098e-03
275  05/24/2021  27400.0 -1.119e-02
276  05/25/2021  27490.0  3.285e-03
277  05/26/2021  27200.0 -1.055e-02
278  05/27/2021  27500.0  1.103e-02
279  05/28/2021  27300.0 -7.273e-03
280  05/31/2021  27000.0 -1.099e-02
281  06/01/2021  27710.0  2.630e-02
282  06/02/2021  27800.0  3.248e-03
283  06/03/2021  28340.0  1.942e-02
284  06/04/2021  27800.0 -1.905e-02
285  06/08/2021  28190.0  1.403e-02
286  06/09/2021  28340.0  5.321e-03
287  06/10/2021  28100.0 -8.469e-03
288  06/11/2021  28320.0  7.829e-03
289  06/15/2021  27700.0 -2.189e-02
290  06/16/2021  27650.0 -1.805e-03
291  06/17/2021  27500.0 -5.425e-03
292  06/18/2021  27800.0  1.091e-02
293  06/21/2021  27490.0 -1.115e-02
294  06/22/2021  27150.0 -1.237e-02
295  06/23/2021  26890.0 -9.576e-03
296  06/24/2021  27400.0  1.897e-02
297  06/25/2021  27680.0  1.022e-02
298  06/28/2021  27050.0 -2.276e-02
299  06/29/2021  26360.0 -2.551e-02
300  06/30/2021  26400.0  1.517e-03
301  07/01/2021  26080.0 -1.212e-02
302  07/02/2021  27500.0  5.445e-02
303  07/06/2021  27010.0 -1.782e-02
304  07/07/2021  27600.0  2.184e-02
305  07/08/2021  27610.0  3.623e-04
306  07/09/2021  28100.0  1.775e-02
307  07/12/2021  28180.0  2.847e-03
308  07/13/2021  28070.0 -3.903e-03
309  07/14/2021  28100.0  1.069e-03
310  07/15/2021  28000.0 -3.559e-03
311  07/16/2021  27990.0 -3.571e-04
312  07/19/2021  27200.0 -2.822e-02
313  07/21/2021  27820.0  2.279e-02
314  07/22/2021  28100.0  1.006e-02
315  07/23/2021  28270.0  6.050e-03
316  07/26/2021  28300.0  1.061e-03
317  07/27/2021  28020.0 -9.894e-03
318  07/28/2021  27800.0 -7.852e-03
319  07/29/2021  27720.0 -2.878e-03
320  07/30/2021  27100.0 -2.237e-02
321  08/02/2021  27700.0  2.214e-02
322  08/03/2021  27640.0 -2.166e-03
323  08/04/2021  28190.0  1.990e-02
324  08/05/2021  27530.0 -2.341e-02
325  08/06/2021  27250.0 -1.017e-02
326  08/09/2021  27520.0  9.908e-03
327  08/10/2021  27800.0  1.017e-02
328  08/11/2021  28200.0  1.439e-02
329  08/12/2021  28990.0  2.801e-02
330  08/13/2021  29610.0  2.139e-02
331  08/17/2021  30500.0  3.006e-02
332  08/18/2021  31380.0  2.885e-02
333  08/19/2021  31600.0  7.011e-03
334  08/20/2021  31270.0 -1.044e-02
335  08/23/2021  31480.0  6.716e-03
336  08/24/2021  31400.0 -2.541e-03
337  08/25/2021  31330.0 -2.229e-03
338  08/26/2021  30800.0 -1.692e-02
339  08/27/2021  31200.0  1.299e-02
340  08/30/2021  31330.0  4.167e-03
341  08/31/2021  31070.0 -8.299e-03
342  09/01/2021  31300.0  7.403e-03
343  09/02/2021  31200.0 -3.195e-03
344  09/03/2021  31400.0  6.410e-03
345  09/06/2021  31260.0 -4.459e-03
346  09/07/2021  31000.0 -8.317e-03
347  09/08/2021  31020.0  6.452e-04
348  09/09/2021  31390.0  1.193e-02
349  09/10/2021  31290.0 -3.186e-03
350  09/13/2021  30800.0 -1.566e-02
351  09/14/2021  31000.0  6.494e-03
352  09/15/2021  31200.0  6.452e-03
353  09/16/2021  31180.0 -6.410e-04
354  09/17/2021  31300.0  3.849e-03
355  09/20/2021  30900.0 -1.278e-02
356  09/21/2021  30570.0 -1.068e-02
357  09/22/2021  30500.0 -2.290e-03
358  09/23/2021  30640.0  4.590e-03
359  09/24/2021  30880.0  7.833e-03
360  09/27/2021  32370.0  4.825e-02
361  09/28/2021  32420.0  1.545e-03
362  09/29/2021  32680.0  8.020e-03
363  09/30/2021  32960.0  8.568e-03
364  10/01/2021  33000.0  1.214e-03
365  10/04/2021  33280.0  8.485e-03
366  10/05/2021  33100.0 -5.409e-03
367  10/06/2021  33000.0 -3.021e-03
368  10/07/2021  33480.0  1.455e-02
369  10/08/2021  33400.0 -2.389e-03
370  10/11/2021  33330.0 -2.096e-03
371  10/12/2021  32520.0 -2.430e-02
372  10/13/2021  33180.0  2.030e-02
373  10/14/2021  34380.0  3.617e-02
374  10/15/2021  34560.0  5.236e-03
375  10/19/2021  34130.0 -1.244e-02
376  10/20/2021  34230.0  2.930e-03
377  10/21/2021  34040.0 -5.551e-03
378  10/22/2021  33460.0 -1.704e-02
379  10/25/2021  34200.0  2.212e-02
380  10/26/2021  34500.0  8.772e-03
381  10/27/2021  34450.0 -1.449e-03
382  10/28/2021  34490.0  1.161e-03
383  10/29/2021  33680.0 -2.349e-02
384  11/02/2021  34000.0  9.501e-03
385  11/03/2021  34000.0  0.000e+00
386  11/04/2021  33400.0 -1.765e-02
387  11/05/2021  33460.0  1.796e-03
388  11/08/2021  33480.0  5.977e-04
389  11/09/2021  32880.0 -1.792e-02
390  11/10/2021  32210.0 -2.038e-02
391  11/11/2021  32200.0 -3.105e-04
392  11/12/2021  32160.0 -1.242e-03
393  11/16/2021  31100.0 -3.296e-02
394  11/17/2021  30600.0 -1.608e-02
395  11/18/2021  30900.0  9.804e-03
396  11/19/2021  30000.0 -2.913e-02
397  11/22/2021  30290.0  9.667e-03
398  11/23/2021  30300.0  3.301e-04
399  11/24/2021  30500.0  6.601e-03
400  11/25/2021  30550.0  1.639e-03
401  11/26/2021  30050.0 -1.637e-02
402  11/29/2021  30400.0  1.165e-02
403  11/30/2021  32370.0  6.480e-02
404  12/01/2021  34500.0  6.580e-02
405  12/02/2021  35880.0  4.000e-02
406  12/03/2021  35000.0 -2.453e-02
407  12/06/2021  34510.0 -1.400e-02
408  12/07/2021  32300.0 -6.404e-02
409  12/09/2021  32600.0  9.288e-03
410  12/10/2021  32220.0 -1.166e-02
411  12/13/2021  30900.0 -4.097e-02
412  12/14/2021  31510.0  1.974e-02
413  12/15/2021  32590.0  3.427e-02
414  12/16/2021  34000.0  4.326e-02
415  12/17/2021  34160.0  4.706e-03
416  12/20/2021  33700.0 -1.347e-02
417  12/21/2021  32500.0 -3.561e-02
418  12/22/2021  33680.0  3.631e-02
419  12/23/2021  33000.0 -2.019e-02
420  12/24/2021  33380.0  1.152e-02
421  12/27/2021  32960.0 -1.258e-02
422  12/28/2021  33290.0  1.001e-02
423  12/29/2021  34700.0  4.236e-02
424  12/30/2021  34700.0  0.000e+00
425  01/03/2022  34500.0 -5.764e-03
426  01/04/2022  34840.0  9.855e-03
427  01/05/2022  34000.0 -2.411e-02
428  01/06/2022  33860.0 -4.118e-03
429  01/07/2022  34200.0  1.004e-02
430  01/11/2022  34800.0  1.754e-02
431  01/12/2022  35380.0  1.667e-02
432  01/13/2022  37600.0  6.275e-02
433  01/14/2022  36480.0 -2.979e-02
434  01/17/2022  38310.0  5.016e-02
435  01/18/2022  42050.0  9.762e-02
436  01/19/2022  42200.0  3.567e-03
437  01/20/2022  40300.0 -4.502e-02
438  01/21/2022  38850.0 -3.598e-02
439  01/24/2022  40000.0  2.960e-02
440  01/25/2022  39800.0 -5.000e-03
441  01/26/2022  39000.0 -2.010e-02
442  01/27/2022  39100.0  2.564e-03
443  01/28/2022  39610.0  1.304e-02
444  01/31/2022  39500.0 -2.777e-03
445  02/01/2022  39010.0 -1.241e-02
446  02/02/2022  39200.0  4.871e-03
447  02/03/2022  39000.0 -5.102e-03
448  02/04/2022  38990.0 -2.564e-04
449  02/07/2022  38900.0 -2.308e-03
450  02/08/2022  37830.0 -2.751e-02
451  02/09/2022  37970.0  3.701e-03
452  02/10/2022  36380.0 -4.188e-02
453  02/11/2022  36700.0  8.796e-03
454  02/14/2022  37500.0  2.180e-02
455  02/15/2022  37990.0  1.307e-02
456  02/16/2022  38120.0  3.422e-03
457  02/17/2022  37920.0 -5.247e-03
458  02/18/2022  37060.0 -2.268e-02
459  02/21/2022  37290.0  6.206e-03
460  02/22/2022  36900.0 -1.046e-02
461  02/23/2022  38570.0  4.526e-02
462  02/24/2022  38990.0  1.089e-02
463  02/25/2022  39240.0  6.412e-03
464  02/28/2022  39040.0 -5.097e-03
465  03/01/2022  39890.0  2.177e-02
466  03/02/2022  39850.0 -1.003e-03
467  03/03/2022  39990.0  3.513e-03
468  03/04/2022  40000.0  2.501e-04
469  03/07/2022  39600.0 -1.000e-02
470  03/08/2022  39000.0 -1.515e-02
471  03/09/2022  39080.0  2.051e-03
472  03/10/2022  39300.0  5.629e-03
473  03/11/2022  39180.0 -3.053e-03
474  03/14/2022  38310.0 -2.221e-02
475  03/15/2022  38200.0 -2.871e-03
476  03/16/2022  38850.0  1.702e-02
477  03/17/2022  39100.0  6.435e-03
478  03/18/2022  39670.0  1.458e-02
479  03/22/2022  40200.0  1.336e-02
480  03/23/2022  41500.0  3.234e-02
481  03/24/2022  41900.0  9.639e-03
482  03/25/2022  42240.0  8.115e-03
483  03/28/2022  42300.0  1.420e-03
484  03/29/2022  42360.0  1.418e-03
485  03/30/2022  41800.0 -1.322e-02
486  03/31/2022  43380.0  3.780e-02
487  04/01/2022  43610.0  5.302e-03
488  04/04/2022  43400.0 -4.815e-03
489  04/05/2022  43800.0  9.217e-03
490  04/06/2022  43380.0 -9.589e-03
491  04/07/2022  43800.0  9.682e-03
492  04/08/2022  42550.0 -2.854e-02
493  04/11/2022  43800.0  2.938e-02
494  04/12/2022  42790.0 -2.306e-02
495  04/13/2022  43700.0  2.127e-02
496  04/18/2022  43250.0 -1.030e-02
497  04/19/2022  43000.0 -5.780e-03
498  04/20/2022  44500.0  3.488e-02
499  04/21/2022  43000.0 -3.371e-02
500  04/22/2022  43300.0  6.977e-03
501  04/25/2022  41000.0 -5.312e-02
502  04/26/2022  40900.0 -2.439e-03
503  04/27/2022  41900.0  2.445e-02
504  04/28/2022  42000.0  2.387e-03
505  04/29/2022  38820.0 -7.571e-02
506  05/02/2022  41150.0  6.002e-02
507  05/04/2022  42100.0  2.309e-02
508  05/05/2022  41340.0 -1.805e-02
509  05/06/2022  39800.0 -3.725e-02
510  05/09/2022  39150.0 -1.633e-02
511  05/10/2022  39500.0  8.940e-03
512  05/11/2022  39100.0 -1.013e-02
513  05/12/2022  39030.0 -1.790e-03
514  05/13/2022  39160.0  3.331e-03
515  05/16/2022  38330.0 -2.120e-02
516  05/17/2022  38630.0  7.827e-03
517  05/18/2022  37300.0 -3.443e-02
518  05/19/2022  35000.0 -6.166e-02
519  05/20/2022  38500.0  1.000e-01
520  05/23/2022  39420.0  2.390e-02
521  05/24/2022  40920.0  3.805e-02
522  05/25/2022  41190.0  6.598e-03
523  05/26/2022  41990.0  1.942e-02
524  05/27/2022  43950.0  4.668e-02
525  05/31/2022  45320.0  3.117e-02
526  06/01/2022  43540.0 -3.928e-02
527  06/02/2022  43830.0  6.661e-03
528  06/03/2022  43090.0 -1.688e-02
529  06/06/2022  44000.0  2.112e-02
530  06/07/2022  42800.0 -2.727e-02
531  06/08/2022  42280.0 -1.215e-02
532  06/09/2022  42650.0  8.751e-03
533  06/10/2022  43500.0  1.993e-02
534  06/13/2022  40200.0 -7.586e-02
535  06/14/2022  41900.0  4.229e-02
536  06/15/2022  40920.0 -2.339e-02
537  06/16/2022  40500.0 -1.026e-02
538  06/17/2022  39600.0 -2.222e-02
539  06/21/2022  38500.0 -2.778e-02
540  06/22/2022  37800.0 -1.818e-02
541  06/23/2022  37000.0 -2.116e-02
542  06/24/2022  37000.0  0.000e+00
543  06/28/2022  36400.0 -1.622e-02
544  06/29/2022  35050.0 -3.709e-02
545  06/30/2022  33540.0 -4.308e-02
546  07/01/2022  34100.0  1.670e-02
547  07/05/2022  35000.0  2.639e-02
548  07/06/2022  35000.0  0.000e+00
549  07/07/2022  35280.0  8.000e-03
550  07/08/2022  35490.0  5.952e-03
551  07/11/2022  34990.0 -1.409e-02
552  07/12/2022  35300.0  8.860e-03
553  07/13/2022  33630.0 -4.731e-02

# Definición de estados

In [7]:
#calcula estados basados en el valor de la columna 'Yn' en relación con la desviación estándar de una ventana de datos de tamaño l
new_col = []
l = 20
data = df_bancolombia['Yn']

for i, percentage in enumerate(data):
    if(i >= (l - 1)):
        min = i - l + 1
        
        desviacion = np.std(data[min:i])

        if percentage >= (2 * desviacion):
            new_col.append('S3')
        elif percentage >= desviacion:
            new_col.append('S2')
        elif percentage >= 0:
            new_col.append('S1')
        elif percentage >= -(desviacion):
            new_col.append('B1')
        elif percentage >= -(2 * desviacion):
            new_col.append('B2')
        else:
            new_col.append('B3')

# Elimina las primeras filas del DataFrame df_bancolombia que se utilizaron para calcular los primeros estados
df_bancolombia = df_bancolombia.drop([i for i in range(l-1)])
# Inserta la columna de estados calculados en la posición 2 del DataFrame df_bancolombia
df_bancolombia.insert(2, 'Estado', new_col, True)
# Reestablece los índices del DataFrame df_bancolombia después de eliminar las filas
df_bancolombia = df_bancolombia.reset_index(drop=True)

In [8]:
df_bancolombia

           Date    Price Estado        Yn
0    05/04/2020  24140.0     B2 -0.046603
1    05/05/2020  23720.0     B1 -0.017399
2    05/06/2020  23000.0     B1 -0.030354
3    05/07/2020  24240.0     S2  0.053913
4    05/08/2020  24000.0     B1 -0.009901
..          ...      ...    ...       ...
929  02/26/2024  33500.0     B1 -0.013545
930  02/27/2024  33480.0     B1 -0.000597
931  02/28/2024  33480.0     S1  0.000000
932  02/29/2024  32940.0     B1 -0.016129
933  03/01/2024  33000.0     S1  0.001821

[934 rows x 4 columns]

In [9]:
estados_posibles = ['B3', 'B2', 'B1', 'S1', 'S2', 'S3']  # Posibles estados del sistema

total_cols = len(estados_posibles)  # Calcula el número total de columnas, que es igual al número de estados posibles
total_rows = total_cols * total_cols  # Calcula el número total de filas como el cuadrado del número de estados posibles

In [10]:
#matriz de transición para un modelo Markoviano
estados = np.array(df_bancolombia['Estado'])

markovian_table = np.array(estados)
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
markovian_table = np.vstack([markovian_table,estados])
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
markovian_table = np.vstack([markovian_table,estados])

markovian_table = markovian_table.T
markovian_table = np.delete(markovian_table, [-1, -2], axis=0)
markovian_table

array([['B2', 'B1', 'B1'],
       ['B1', 'B1', 'S2'],
       ['B1', 'S2', 'B1'],
       ...,
       ['B1', 'B1', 'S1'],
       ['B1', 'S1', 'B1'],
       ['S1', 'B1', 'S1']], dtype=object)

In [11]:
#frecuencias esperadas de transición entre estados
expected_freq = [[0] * (total_cols + 1) for i in range(total_cols)]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    expected_freq[row_index][col_index] += 1
    expected_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
expected_freq_df = pd.DataFrame(expected_freq, columns=cols)
cols.pop(-1)
expected_freq_df.insert(0, 'T_Actual', cols)
expected_freq_df

  T_Actual  B3  B2   B1   S1  S2  S3  Recuento
0       B3   1   4   11    6   7   5        34
1       B2   5  15   29   35  16   5       105
2       B1  14  30  110  116  28  10       308
3       S1  10  33  121  119  40  12       335
4       S2   2  14   28   43  17   6       110
5       S3   2   9    8   17   2   2        40

In [12]:
#Verifica si la frecuencia esperada de transición entre estados en el modelo Markoviano es mayor o igual a 5 para la validez empírica del modelo. 
invalid_counter = 0

for i in range(total_cols):
    for j in range(1,total_cols + 1):
        if expected_freq_df.iat[i, j] < 5:
            invalid_counter += 1
            
cumple_empirica = invalid_counter < 0.25 * (total_cols ** 2)
print(f'Cumple la empírica? RTA: {cumple_empirica}')

Cumple la empírica? RTA: True

# Modelo - Matriz de transición

In [13]:
# probabilidad de transición entre los estados del modelo Markoviano
model_freq = [[0] * total_cols for i in range(total_cols)]
total_freq = [0,0,0,0,0,0,0,0]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    model_freq[row_index][col_index] += 1
    total_freq[row_index] += 1

model_transition_prob_df = pd.DataFrame(model_freq, columns=estados_posibles)
model_transition_prob_df.insert(0, 'Actual', estados_posibles)

for i in range(total_cols):
    for j in range(1,total_cols+1):
        model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)

model_transition_prob_df

  Actual        B3        B2        B1        S1        S2        S3
0     B3  0.029412  0.117647  0.323529  0.176471  0.205882  0.147059
1     B2  0.047619  0.142857  0.276190  0.333333  0.152381  0.047619
2     B1  0.045455  0.097403  0.357143  0.376623  0.090909  0.032468
3     S1  0.029851  0.098507  0.361194  0.355224  0.119403  0.035821
4     S2  0.018182  0.127273  0.254545  0.390909  0.154545  0.054545
5     S3  0.050000  0.225000  0.200000  0.425000  0.050000  0.050000

# Propiedad Markoviana

In [14]:
# frecuencias observadas de transición entre pares de estados del modelo Markoviano
observed_rows = list(itertools.product(estados_posibles,repeat=2))

observed_freq = [[0] * (total_cols + 1) for i in range(total_rows)]

for i in range(len(markovian_table)):
    history = (markovian_table[i][0],markovian_table[i][1])
    row_index = observed_rows.index(history)
    col_index = estados_posibles.index(markovian_table[i][2])

    observed_freq[row_index][col_index] += 1
    observed_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
observed_freq_df = pd.DataFrame(observed_freq, columns=cols)
observed_freq_df.insert(0, 'History', observed_rows)
observed_freq_df

     History  B3  B2  B1  S1  S2  S3  Recuento
0   (B3, B3)   0   0   0   0   1   0         1
1   (B3, B2)   1   0   0   3   0   0         4
2   (B3, B1)   1   0   1   5   2   2        11
3   (B3, S1)   0   1   2   3   0   0         6
4   (B3, S2)   0   2   4   1   0   0         7
5   (B3, S3)   0   2   0   3   0   0         5
6   (B2, B3)   0   0   2   0   1   2         5
7   (B2, B2)   1   2   5   5   2   0        15
8   (B2, B1)   2   3  11  12   2   0        30
9   (B2, S1)   2   0  10  14   8   1        35
10  (B2, S2)   1   0   5   6   2   2        16
11  (B2, S3)   0   1   1   2   0   1         5
12  (B1, B3)   0   2   8   2   1   1        14
13  (B1, B2)   1   3   8  10   6   2        30
14  (B1, B1)   7  12  39  37  14   1       110
15  (B1, S1)   4  14  50  34  11   2       115
16  (B1, S2)   0   3   7  13   3   2        28
17  (B1, S3)   0   4   2   4   0   0        10
18  (S1, B3)   1   1   1   2   4   1        10
19  (S1, B2)   1   6  10   8   6   2        33
20  (S1, B1)   2  14  44  49   7   5       121
21  (S1, S1)   1  13  41  48  13   3       119
22  (S1, S2)   0   8   7  17   7   1        40
23  (S1, S3)   2   2   3   3   1   1        12
24  (S2, B3)   0   0   0   2   0   0         2
25  (S2, B2)   0   3   5   5   1   0        14
26  (S2, B1)   2   1  13  10   1   1        28
27  (S2, S1)   3   3  13  13   7   4        43
28  (S2, S2)   1   1   3   6   5   1        17
29  (S2, S3)   0   0   2   4   0   0         6
30  (S3, B3)   0   1   0   0   0   1         2
31  (S3, B2)   1   1   1   4   1   1         9
32  (S3, B1)   0   0   2   3   2   1         8
33  (S3, S1)   0   2   5   7   1   2        17
34  (S3, S2)   0   0   2   0   0   0         2
35  (S3, S3)   0   0   0   1   1   0         2

In [15]:
# probabilidades observadas de transición entre pares de estados del modelo Markoviano utilizando las frecuencias observadas
observed_prob_df = observed_freq_df.copy()
for i in range(total_rows):
    for j in range(1,total_cols+1):
        if observed_prob_df.iat[i, total_cols+1] == 0:
            observed_prob_df.iat[i, j] = 0
        else:
            observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)

observed_prob_df = observed_prob_df.drop(columns=['Recuento'], axis=1)
observed_prob_df

     History        B3        B2        B1        S1        S2        S3
0   (B3, B3)  0.000000  0.000000  0.000000  0.000000  1.000000  0.000000
1   (B3, B2)  0.250000  0.000000  0.000000  0.750000  0.000000  0.000000
2   (B3, B1)  0.090909  0.000000  0.090909  0.454545  0.181818  0.181818
3   (B3, S1)  0.000000  0.166667  0.333333  0.500000  0.000000  0.000000
4   (B3, S2)  0.000000  0.285714  0.571429  0.142857  0.000000  0.000000
5   (B3, S3)  0.000000  0.400000  0.000000  0.600000  0.000000  0.000000
6   (B2, B3)  0.000000  0.000000  0.400000  0.000000  0.200000  0.400000
7   (B2, B2)  0.066667  0.133333  0.333333  0.333333  0.133333  0.000000
8   (B2, B1)  0.066667  0.100000  0.366667  0.400000  0.066667  0.000000
9   (B2, S1)  0.057143  0.000000  0.285714  0.400000  0.228571  0.028571
10  (B2, S2)  0.062500  0.000000  0.312500  0.375000  0.125000  0.125000
11  (B2, S3)  0.000000  0.200000  0.200000  0.400000  0.000000  0.200000
12  (B1, B3)  0.000000  0.142857  0.571429  0.142857  0.071429  0.071429
13  (B1, B2)  0.033333  0.100000  0.266667  0.333333  0.200000  0.066667
14  (B1, B1)  0.063636  0.109091  0.354545  0.336364  0.127273  0.009091
15  (B1, S1)  0.034783  0.121739  0.434783  0.295652  0.095652  0.017391
16  (B1, S2)  0.000000  0.107143  0.250000  0.464286  0.107143  0.071429
17  (B1, S3)  0.000000  0.400000  0.200000  0.400000  0.000000  0.000000
18  (S1, B3)  0.100000  0.100000  0.100000  0.200000  0.400000  0.100000
19  (S1, B2)  0.030303  0.181818  0.303030  0.242424  0.181818  0.060606
20  (S1, B1)  0.016529  0.115702  0.363636  0.404959  0.057851  0.041322
21  (S1, S1)  0.008403  0.109244  0.344538  0.403361  0.109244  0.025210
22  (S1, S2)  0.000000  0.200000  0.175000  0.425000  0.175000  0.025000
23  (S1, S3)  0.166667  0.166667  0.250000  0.250000  0.083333  0.083333
24  (S2, B3)  0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
25  (S2, B2)  0.000000  0.214286  0.357143  0.357143  0.071429  0.000000
26  (S2, B1)  0.071429  0.035714  0.464286  0.357143  0.035714  0.035714
27  (S2, S1)  0.069767  0.069767  0.302326  0.302326  0.162791  0.093023
28  (S2, S2)  0.058824  0.058824  0.176471  0.352941  0.294118  0.058824
29  (S2, S3)  0.000000  0.000000  0.333333  0.666667  0.000000  0.000000
30  (S3, B3)  0.000000  0.500000  0.000000  0.000000  0.000000  0.500000
31  (S3, B2)  0.111111  0.111111  0.111111  0.444444  0.111111  0.111111
32  (S3, B1)  0.000000  0.000000  0.250000  0.375000  0.250000  0.125000
33  (S3, S1)  0.000000  0.117647  0.294118  0.411765  0.058824  0.117647
34  (S3, S2)  0.000000  0.000000  1.000000  0.000000  0.000000  0.000000
35  (S3, S3)  0.000000  0.000000  0.000000  0.500000  0.500000  0.000000

In [16]:
expected_freq = [[0] * (total_cols + 1) for i in range(total_cols)]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    expected_freq[row_index][col_index] += 1
    expected_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
expected_freq_df = pd.DataFrame(expected_freq, columns=cols)
cols.pop(-1)
expected_freq_df.insert(0, 'History', cols)
expected_freq_df

  History  B3  B2   B1   S1  S2  S3  Recuento
0      B3   1   4   11    6   7   5        34
1      B2   5  15   29   35  16   5       105
2      B1  14  30  110  116  28  10       308
3      S1  10  33  121  119  40  12       335
4      S2   2  14   28   43  17   6       110
5      S3   2   9    8   17   2   2        40

In [17]:
expected_prob_df = expected_freq_df.copy()
for i in range(total_cols):
    for j in range(1,total_cols+1):
        expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)

expected_prob_df = expected_prob_df.drop(columns=['Recuento'], axis=1)
expected_prob_df

  History        B3        B2        B1        S1        S2        S3
0      B3  0.029412  0.117647  0.323529  0.176471  0.205882  0.147059
1      B2  0.047619  0.142857  0.276190  0.333333  0.152381  0.047619
2      B1  0.045455  0.097403  0.357143  0.376623  0.090909  0.032468
3      S1  0.029851  0.098507  0.361194  0.355224  0.119403  0.035821
4      S2  0.018182  0.127273  0.254545  0.390909  0.154545  0.054545
5      S3  0.050000  0.225000  0.200000  0.425000  0.050000  0.050000

In [18]:
chi_values = []
k = 0

for i in range(total_rows):
    for j in range(1,total_cols+1):
        if expected_prob_df.iat[k,j] == 0:
            chi_parcial = (0)
        else: 
            chi_parcial = observed_freq_df.iat[i,total_cols+1] * ((observed_prob_df.iat[i,j] - expected_prob_df.iat[k,j]) ** 2) / expected_prob_df.iat[k,j]

        chi_values.append(chi_parcial)

    k += 1
    if k == total_cols:
        k = 0

chi_observado = sum(chi_values)
chi_observado

169.99781052231276

In [19]:
from scipy.stats.distributions import chi2

alpha = 0.01
rows = total_rows
cols = total_cols
grados = (rows - 1)*(cols - 1)

chi_teorico = chi2.ppf(1 - alpha, df=grados)
chi_teorico

221.4383745662851

In [20]:
is_not_markovian = chi_observado >= chi_teorico
print(f'Se rechaza la cadena (no es markoviana)? RTA: {is_not_markovian}')

Se rechaza la cadena (no es markoviana)? RTA: False

# Propiedad Estacionaria

Definiremos los periodos de tiempo como años

In [21]:
new_col = []
for date in df_bancolombia['Date']:
    if '2020' in date:
        new_col.append(1)
    elif '2021' in date:
        new_col.append(2)
    elif '2022' in date:
        new_col.append(3)
    elif '2023' in date:
        new_col.append(4)
    else:
        new_col.append(5)
df_bancolombia.insert(2, 'Periodo', new_col, True)

df_bancolombia

           Date    Price  Periodo Estado        Yn
0    05/04/2020  24140.0        1     B2 -0.046603
1    05/05/2020  23720.0        1     B1 -0.017399
2    05/06/2020  23000.0        1     B1 -0.030354
3    05/07/2020  24240.0        1     S2  0.053913
4    05/08/2020  24000.0        1     B1 -0.009901
..          ...      ...      ...    ...       ...
929  02/26/2024  33500.0        5     B1 -0.013545
930  02/27/2024  33480.0        5     B1 -0.000597
931  02/28/2024  33480.0        5     S1  0.000000
932  02/29/2024  32940.0        5     B1 -0.016129
933  03/01/2024  33000.0        5     S1  0.001821

[934 rows x 5 columns]

In [22]:
periodos = np.array(df_bancolombia['Periodo'])
estados = np.array(df_bancolombia['Estado'])

stationary_table = np.array(periodos)
stationary_table = np.vstack([stationary_table, estados])
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
stationary_table = np.vstack([stationary_table, estados])

stationary_table = stationary_table.T
stationary_table = np.delete(stationary_table, -1, axis=0)
stationary_table

array([[1, 'B2', 'B1'],
       [1, 'B1', 'B1'],
       [1, 'B1', 'S2'],
       ...,
       [5, 'B1', 'S1'],
       [5, 'S1', 'B1'],
       [5, 'B1', 'S1']], dtype=object)

In [23]:
observed_rows = list(itertools.product([1,2,3,4,5], estados_posibles))

observed_freq = [[0] * (total_cols + 1) for i in range(len(observed_rows))]

for i in range(len(markovian_table)):
    history = (stationary_table[i][0], stationary_table[i][1])
    row_index = observed_rows.index(history)
    col_index = estados_posibles.index(stationary_table[i][2])

    observed_freq[row_index][col_index] += 1
    observed_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
observed_freq_stat_df = pd.DataFrame(observed_freq, columns=cols)
observed_freq_stat_df.insert(0, 'History', observed_rows)
observed_freq_stat_df

    History  B3  B2  B1  S1  S2  S3  Recuento
0   (1, B3)   0   1   2   1   1   0         5
1   (1, B2)   0   2   6   6   1   1        16
2   (1, B1)   3   4  16  21   6   2        52
3   (1, S1)   1   5  16  19  12   2        55
4   (1, S2)   1   3   9   5   6   2        26
5   (1, S3)   0   1   3   3   0   0         7
6   (2, B3)   0   1   0   2   0   1         4
7   (2, B2)   0   7  10  12   7   2        38
8   (2, B1)   2  12  31  27   7   1        80
9   (2, S1)   1  10  33  28   9   2        83
10  (2, S2)   0   5   4  12   6   3        30
11  (2, S3)   1   2   3   2   1   1        10
12  (3, B3)   1   1   2   0   4   3        11
13  (3, B2)   1   2   8   9   4   2        26
14  (3, B1)   2   7  23  29   5   2        68
15  (3, S1)   6  12  26  41  12   3       100
16  (3, S2)   0   3   8  14   2   0        27
17  (3, S3)   1   2   0   7   0   1        11
18  (4, B3)   0   1   7   3   1   1        13
19  (4, B2)   4   3   4   7   4   0        22
20  (4, B1)   7   7  33  33   7   4        91
21  (4, S1)   1   4  38  29   6   5        83
22  (4, S2)   1   2   7   8   3   1        22
23  (4, S3)   0   4   2   4   1   0        11
24  (5, B3)   0   0   0   0   1   0         1
25  (5, B2)   0   1   2   1   0   0         4
26  (5, B1)   0   0   7   5   3   1        16
27  (5, S1)   1   2   8   2   1   0        14
28  (5, S2)   0   1   0   4   0   0         5
29  (5, S3)   0   0   0   1   0   0         1

In [24]:
observed_prob_stat_df = observed_freq_stat_df.copy()
for i in range(len(observed_rows)):
    for j in range(1,total_cols+1):
        if observed_prob_stat_df.iat[i, total_cols+1] == 0:
            observed_prob_stat_df.iat[i, j] = 0
        else:
            observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)

observed_prob_stat_df = observed_prob_stat_df.drop(columns=['Recuento'], axis=1)
observed_prob_stat_df

    History        B3        B2        B1        S1        S2        S3
0   (1, B3)  0.000000  0.200000  0.400000  0.200000  0.200000  0.000000
1   (1, B2)  0.000000  0.125000  0.375000  0.375000  0.062500  0.062500
2   (1, B1)  0.057692  0.076923  0.307692  0.403846  0.115385  0.038462
3   (1, S1)  0.018182  0.090909  0.290909  0.345455  0.218182  0.036364
4   (1, S2)  0.038462  0.115385  0.346154  0.192308  0.230769  0.076923
5   (1, S3)  0.000000  0.142857  0.428571  0.428571  0.000000  0.000000
6   (2, B3)  0.000000  0.250000  0.000000  0.500000  0.000000  0.250000
7   (2, B2)  0.000000  0.184211  0.263158  0.315789  0.184211  0.052632
8   (2, B1)  0.025000  0.150000  0.387500  0.337500  0.087500  0.012500
9   (2, S1)  0.012048  0.120482  0.397590  0.337349  0.108434  0.024096
10  (2, S2)  0.000000  0.166667  0.133333  0.400000  0.200000  0.100000
11  (2, S3)  0.100000  0.200000  0.300000  0.200000  0.100000  0.100000
12  (3, B3)  0.090909  0.090909  0.181818  0.000000  0.363636  0.272727
13  (3, B2)  0.038462  0.076923  0.307692  0.346154  0.153846  0.076923
14  (3, B1)  0.029412  0.102941  0.338235  0.426471  0.073529  0.029412
15  (3, S1)  0.060000  0.120000  0.260000  0.410000  0.120000  0.030000
16  (3, S2)  0.000000  0.111111  0.296296  0.518519  0.074074  0.000000
17  (3, S3)  0.090909  0.181818  0.000000  0.636364  0.000000  0.090909
18  (4, B3)  0.000000  0.076923  0.538462  0.230769  0.076923  0.076923
19  (4, B2)  0.181818  0.136364  0.181818  0.318182  0.181818  0.000000
20  (4, B1)  0.076923  0.076923  0.362637  0.362637  0.076923  0.043956
21  (4, S1)  0.012048  0.048193  0.457831  0.349398  0.072289  0.060241
22  (4, S2)  0.045455  0.090909  0.318182  0.363636  0.136364  0.045455
23  (4, S3)  0.000000  0.363636  0.181818  0.363636  0.090909  0.000000
24  (5, B3)  0.000000  0.000000  0.000000  0.000000  1.000000  0.000000
25  (5, B2)  0.000000  0.250000  0.500000  0.250000  0.000000  0.000000
26  (5, B1)  0.000000  0.000000  0.437500  0.312500  0.187500  0.062500
27  (5, S1)  0.071429  0.142857  0.571429  0.142857  0.071429  0.000000
28  (5, S2)  0.000000  0.200000  0.000000  0.800000  0.000000  0.000000
29  (5, S3)  0.000000  0.000000  0.000000  1.000000  0.000000  0.000000

In [25]:
expected_prob_df

  History        B3        B2        B1        S1        S2        S3
0      B3  0.029412  0.117647  0.323529  0.176471  0.205882  0.147059
1      B2  0.047619  0.142857  0.276190  0.333333  0.152381  0.047619
2      B1  0.045455  0.097403  0.357143  0.376623  0.090909  0.032468
3      S1  0.029851  0.098507  0.361194  0.355224  0.119403  0.035821
4      S2  0.018182  0.127273  0.254545  0.390909  0.154545  0.054545
5      S3  0.050000  0.225000  0.200000  0.425000  0.050000  0.050000

In [26]:
chi_values = []
k = 0

for i in range(len(observed_rows)):
    for j in range(1,total_cols+1):
        if expected_prob_df.iat[k,j] == 0:
            chi_parcial = 0
        else: 
            chi_parcial = observed_freq_stat_df.iat[i,total_cols+1] * ((observed_prob_stat_df.iat[i,j] - expected_prob_df.iat[k,j]) ** 2) / expected_prob_df.iat[k,j]

        chi_values.append(chi_parcial)

    k += 1
    if k == total_cols:
        k = 0

chi_stat_observado = sum(chi_values)
chi_stat_observado

118.45965489684136

In [27]:
is_not_stationary = chi_stat_observado >= chi_teorico
print(f'La cadena no cumple la propiedad estacionaria? RTA: {is_not_stationary}')

La cadena no cumple la propiedad estacionaria? RTA: False

# Análisis de la cadena

## Punto A.

In [28]:
secuencias_posibles = list(itertools.product(estados_posibles[3:6], repeat=3))

secuencias_posibles

[('S1', 'S1', 'S1'),
 ('S1', 'S1', 'S2'),
 ('S1', 'S1', 'S3'),
 ('S1', 'S2', 'S1'),
 ('S1', 'S2', 'S2'),
 ('S1', 'S2', 'S3'),
 ('S1', 'S3', 'S1'),
 ('S1', 'S3', 'S2'),
 ('S1', 'S3', 'S3'),
 ('S2', 'S1', 'S1'),
 ('S2', 'S1', 'S2'),
 ('S2', 'S1', 'S3'),
 ('S2', 'S2', 'S1'),
 ('S2', 'S2', 'S2'),
 ('S2', 'S2', 'S3'),
 ('S2', 'S3', 'S1'),
 ('S2', 'S3', 'S2'),
 ('S2', 'S3', 'S3'),
 ('S3', 'S1', 'S1'),
 ('S3', 'S1', 'S2'),
 ('S3', 'S1', 'S3'),
 ('S3', 'S2', 'S1'),
 ('S3', 'S2', 'S2'),
 ('S3', 'S2', 'S3'),
 ('S3', 'S3', 'S1'),
 ('S3', 'S3', 'S2'),
 ('S3', 'S3', 'S3')]

In [29]:
probabilidad_total = 0
for secuencia in secuencias_posibles:
    prob_1 = model_transition_prob_df[secuencia[1]][list(model_transition_prob_df['Actual']).index(secuencia[0])]
    prob_2 = model_transition_prob_df[secuencia[2]][list(model_transition_prob_df['Actual']).index(secuencia[1])]
    prob = prob_1 * prob_2
    probabilidad_total += prob
    
probabilidad_total

0.8658636009234691

## Punto B.

In [30]:
secuencias_posibles = list(itertools.product(estados_posibles[0:3], repeat=3))

secuencias_posibles

[('B3', 'B3', 'B3'),
 ('B3', 'B3', 'B2'),
 ('B3', 'B3', 'B1'),
 ('B3', 'B2', 'B3'),
 ('B3', 'B2', 'B2'),
 ('B3', 'B2', 'B1'),
 ('B3', 'B1', 'B3'),
 ('B3', 'B1', 'B2'),
 ('B3', 'B1', 'B1'),
 ('B2', 'B3', 'B3'),
 ('B2', 'B3', 'B2'),
 ('B2', 'B3', 'B1'),
 ('B2', 'B2', 'B3'),
 ('B2', 'B2', 'B2'),
 ('B2', 'B2', 'B1'),
 ('B2', 'B1', 'B3'),
 ('B2', 'B1', 'B2'),
 ('B2', 'B1', 'B1'),
 ('B1', 'B3', 'B3'),
 ('B1', 'B3', 'B2'),
 ('B1', 'B3', 'B1'),
 ('B1', 'B2', 'B3'),
 ('B1', 'B2', 'B2'),
 ('B1', 'B2', 'B1'),
 ('B1', 'B1', 'B3'),
 ('B1', 'B1', 'B2'),
 ('B1', 'B1', 'B1')]

In [31]:
probabilidad_total = 0
for secuencia in secuencias_posibles:
    prob_1 = model_transition_prob_df[secuencia[1]][list(model_transition_prob_df['Actual']).index(secuencia[0])]
    prob_2 = model_transition_prob_df[secuencia[2]][list(model_transition_prob_df['Actual']).index(secuencia[1])]
    prob = prob_1 * prob_2
    probabilidad_total += prob
    
probabilidad_total

0.7030947138213576

## Punto C.

In [36]:
import numpy as np
 
# Define the transition matrix
P = model_transition_prob_df.drop(columns=['Actual']).to_numpy(copy=True)
 
# Calculate the eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(P.T)
 
# Find the eigenvector corresponding to eigenvalue 1
stationary_distribution = np.array(eigenvectors[:, np.isclose(eigenvalues, 1)])
 
# Normalize the stationary distribution
stationary_distribution = stationary_distribution / stationary_distribution.sum()

#Convert to real numbers
stationary_distribution = stationary_distribution.real

#Convert to 1,6 vector
stationary_distribution = stationary_distribution.T
 
print("Stationary Distribution:", stationary_distribution)

# Calcula el tiempo de retorno como el inverso de la probabilidad de permanecer en el estado actual
tiempo_retorno = 1 / stationary_distribution

# Imprime el tiempo de retorno
print("Tiempo de retorno:", tiempo_retorno)

Stationary Distribution: [[0.0364637  0.11266305 0.32940037 0.36049631 0.11805578 0.04292078]]
Tiempo de retorno: [[27.42453087  8.87602418  3.03581934  2.7739535   8.47057183 23.29873778]]

In [ ]:
np.dot(stationary_distribution, P)

array([[0.0364637 , 0.11266305, 0.32940037, 0.36049631, 0.11805578,
        0.04292078]])

In [ ]:
def calcular_primeras_pasadas(transition_matrix):
    n = len(transition_matrix)

    p_matrix = np.zeros((n**2, n**2))
    for i in range(n):
        for j in range(n):
            for k in range(n):
                if k != j:
                    p_matrix[i * n + j][k * n + j] = transition_matrix[i][k]

    A =  p_matrix - np.eye(n ** 2)
    B = np.ones(shape=(n**2))
    ans_vector = np.linalg.solve(A, -B)
    return ans_vector

vector_primeras_pasadas = calcular_primeras_pasadas(P)
matriz_primeras_pasadas = np.array(vector_primeras_pasadas).reshape((int(len(vector_primeras_pasadas)**0.5), int(len(vector_primeras_pasadas)**0.5)))
print("Matriz de tiempos de primera pasada:")
print(matriz_primeras_pasadas)

Matriz de tiempos de primera pasada:
[[27.42453087  8.9841687   3.23949177  3.24572857  8.07889722 21.02843409]
 [26.97190738  8.87602418  3.3243846   2.84497665  8.46483265 23.3497379 ]
 [27.00425982  9.33814628  3.03581934  2.72557869  9.03344728 23.7626849 ]
 [27.43830933  9.32068536  3.03235559  2.7739535   8.79634908 23.71219608]
 [27.79306634  9.02195778  3.38368369  2.66996704  8.47057183 23.2680947 ]
 [26.86364832  8.13602827  3.54515414  2.61160028  9.31965266 23.29873778]]

## Punto D.

# Algoritmo para interpretar resultados

## Proof of concept

In [ ]:
list1 = []
list2 = []

for i, percentage in enumerate(data):
    if(i >= (l - 1)):
        min = i - l + 1
        
        std1 = np.std(data[min:i])
        std2 = np.std(data[min:i-1])

        if percentage >= (2 * std1):
            list1.append('S3')
        elif percentage >= std1:
            list1.append('S2')
        elif percentage >= 0:
            list1.append('S1')
        elif percentage >= -(std1):
            list1.append('B1')
        elif percentage >= -(2 * std1):
            list1.append('B2')
        else:
            list1.append('B3')

        if percentage >= (2 * std2):
            list2.append('S3')
        elif percentage >= std2:
            list2.append('S2')
        elif percentage >= 0:
            list2.append('S1')
        elif percentage >= -(std2):
            list2.append('B1')
        elif percentage >= -(2 * std2):
            list2.append('B2')
        else:
            list2.append('B3')


unequal_count = sum(a != b for a, b in zip(list1, list2))
unequal_count

percentage_unequal = unequal_count/len(list1)
print(f"El porcentaje de datos que tienen estados diferentes al considerar su desviacion estandar sin contarse a si mismos es del {percentage_unequal*100}%")

El porcentaje de datos que tienen estados diferentes al considerar su desviacion estandar sin contarse a si mismos es del 2.9508196721311477%

## Algoritmo

In [ ]:
estados_posibles
estados_dict = {'B3':-2,'B2':-1,'B1':0,'S1':1,'S2':2,'S3':3}

def pasar_a_dinero(y_inicial, historial, cadena_estados):
    cadena_porcentajes = []
    y = y_inicial
    y_min = y
    y_max = y

    for i, estado in enumerate(cadena_estados):
        data_actual = []

        if(i<20):
            data_actual.extend(historial[-(20-i):])
            data_actual.extend(cadena_porcentajes[:i-1])
        else:
            data_actual.extend(cadena_porcentajes[-(19):])

        desviacion_actual = np.std(data_actual)
        y_min = y_min + (estados_dict[estado] - 1) * desviacion_actual * y_min
        y_max = y_max + estados_dict[estado] * desviacion_actual * y_max

        cadena_porcentajes.append(float((((y_min + y_max) / 2)/y) - 1))
        y = (y_min + y_max) / 2

    return y, (y_min, y_max)

## Test

In [ ]:
import random

estados = np.array(df_bancolombia['Estado'])
yn = np.array(df_bancolombia['Yn'])
prices = np.array(df_bancolombia['Price'])

min = random.randint(20, len(estados) - 20)
max = min + 10

y_final, aprox_range = pasar_a_dinero(prices[min], yn[min-19:min], estados[min:max])
print(f'El precio final calculado fue de aproximadamente {y_final}')
print(f'El valor real podría estar en el siguiente rango: {aprox_range}')
print(f'El precio real es de {prices[max]}')

El precio final calculado fue de aproximadamente 30261.049318399833
El valor real podría estar en el siguiente rango: (27301.167906787152, 33220.930730012515)
El precio real es de 30000.0