In [ ]:
import numpy as np
import pandas as pd
import itertools 
import matplotlib.pyplot as plt

In [ ]:
df_bancolombia = pd.read_csv("bancolombia.csv")
df_bancolombia

           Date     Price      Open      High       Low     Vol. Change %
0    12/28/2023  33,200.0  32,880.0  33,200.0  32,800.0   63.78K    0.91%
1    12/27/2023  32,900.0  32,280.0  32,900.0  32,280.0  127.93K    1.86%
2    12/26/2023  32,300.0  31,900.0  32,300.0  31,860.0   62.79K    0.31%
3    12/22/2023  32,200.0  31,880.0  32,300.0  31,640.0   46.85K   -0.31%
4    12/21/2023  32,300.0  31,800.0  32,300.0  31,540.0  137.91K    1.57%
..          ...       ...       ...       ...       ...      ...      ...
967  01/09/2020  43,300.0  43,500.0  43,500.0  42,500.0  112.47K   -0.37%
968  01/08/2020  43,460.0  44,480.0  44,480.0  42,580.0  146.91K   -0.78%
969  01/07/2020  43,800.0  44,180.0  44,180.0  43,540.0   72.68K   -1.13%
970  01/03/2020  44,300.0  44,360.0  44,360.0  43,900.0  151.96K   -0.18%
971  01/02/2020  44,380.0  44,000.0  44,380.0  43,500.0   31.41K    0.86%

[972 rows x 7 columns]

# Preprocesamiento

In [ ]:
#Eliminar columnas inútiles
df_bancolombia = df_bancolombia.drop(columns=['Open','High','Low','Vol.','Change %'])

#Convertir los precios de string a float
df_bancolombia['Price'] = df_bancolombia['Price'].str.replace(',', '')
df_bancolombia['Price'] = df_bancolombia['Price'].astype(float)

#Añade la columna Y_n definida en la guía
new_col = [0]
for i in range(1, len(df_bancolombia)):
    new_col.append(float((df_bancolombia['Price'][i]/df_bancolombia['Price'][i-1]) - 1))
df_bancolombia.insert(2, 'Yn', new_col, True)

#Eliminamos primer dato debido a que no se puede calcular Yn
df_bancolombia = df_bancolombia.drop([0])

In [ ]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_bancolombia)

           Date    Price      Yn
1    12/27/2023  32900.0  -0.904
2    12/26/2023  32300.0  -1.824
3    12/22/2023  32200.0  -0.310
4    12/21/2023  32300.0   0.311
5    12/20/2023  31800.0  -1.548
6    12/19/2023  31980.0   0.566
7    12/18/2023  32500.0   1.626
8    12/15/2023  31800.0  -2.154
9    12/14/2023  31900.0   0.314
10   12/13/2023  32000.0   0.313
11   12/12/2023  31240.0  -2.375
12   12/11/2023  30900.0  -1.088
13   12/07/2023  31980.0   3.495
14   12/06/2023  30520.0  -4.565
15   12/05/2023  31800.0   4.194
16   12/04/2023  32620.0   2.579
17   12/01/2023  31400.0  -3.740
18   11/30/2023  31720.0   1.019
19   11/29/2023  30220.0  -4.729
20   11/28/2023  30200.0  -0.066
21   11/27/2023  30200.0   0.000
22   11/24/2023  29640.0  -1.854
23   11/23/2023  29600.0  -0.135
24   11/22/2023  30200.0   2.027
25   11/21/2023  30000.0  -0.662
26   11/20/2023  30000.0   0.000
27   11/17/2023  30200.0   0.667
28   11/16/2023  30180.0  -0.066
29   11/15/2023  30700.0   1.723
30   11/14/2023  30500.0  -0.651
31   11/10/2023  30700.0   0.656
32   11/09/2023  30800.0   0.326
33   11/08/2023  30780.0  -0.065
34   11/07/2023  30850.0   0.227
35   11/03/2023  30000.0  -2.755
36   11/02/2023  28990.0  -3.367
37   11/01/2023  28060.0  -3.208
38   10/31/2023  29350.0   4.597
39   10/30/2023  29350.0   0.000
40   10/27/2023  29230.0  -0.409
41   10/26/2023  28510.0  -2.463
42   10/25/2023  29620.0   3.893
43   10/24/2023  29530.0  -0.304
44   10/23/2023  29740.0   0.711
45   10/20/2023  29900.0   0.538
46   10/19/2023  30850.0   3.177
47   10/18/2023  31790.0   3.047
48   10/17/2023  30310.0  -4.656
49   10/13/2023  30480.0   0.561
50   10/12/2023  30200.0  -0.919
51   10/11/2023  30200.0   0.000
52   10/10/2023  31200.0   3.311
53   10/09/2023  31390.0   0.609
54   10/06/2023  30000.0  -4.428
55   10/05/2023  29500.0  -1.667
56   10/04/2023  30650.0   3.898
57   10/03/2023  31500.0   2.773
58   10/02/2023  31000.0  -1.587
59   09/29/2023  30810.0  -0.613
60   09/28/2023  31200.0   1.266
61   09/27/2023  31000.0  -0.641
62   09/26/2023  32000.0   3.226
63   09/25/2023  32000.0   0.000
64   09/22/2023  31320.0  -2.125
65   09/21/2023  32000.0   2.171
66   09/20/2023  32900.0   2.812
67   09/19/2023  31820.0  -3.283
68   09/18/2023  31710.0  -0.346
69   09/15/2023  32990.0   4.037
70   09/14/2023  30000.0  -9.063
71   09/13/2023  30000.0   0.000
72   09/12/2023  30000.0   0.000
73   09/11/2023  28300.0  -5.667
74   09/08/2023  28300.0   0.000
75   09/07/2023  29000.0   2.473
76   09/06/2023  27200.0  -6.207
77   09/05/2023  27240.0   0.147
78   09/04/2023  28500.0   4.626
79   09/01/2023  28700.0   0.702
80   08/31/2023  29100.0   1.394
81   08/30/2023  29500.0   1.375
82   08/29/2023  28970.0  -1.797
83   08/28/2023  28300.0  -2.313
84   08/25/2023  28700.0   1.413
85   08/24/2023  29200.0   1.742
86   08/23/2023  29150.0  -0.171
87   08/22/2023  29010.0  -0.480
88   08/18/2023  30550.0   5.309
89   08/17/2023  30940.0   1.277
90   08/16/2023  31050.0   0.356
91   08/15/2023  30800.0  -0.805
92   08/14/2023  31900.0   3.571
93   08/11/2023  31100.0  -2.508
94   08/10/2023  31700.0   1.929
95   08/09/2023  32600.0   2.839
96   08/08/2023  32850.0   0.767
97   08/04/2023  33450.0   1.826
98   08/03/2023  33490.0   0.120
99   08/02/2023  32700.0  -2.359
100  08/01/2023  33800.0   3.364
101  07/31/2023  33380.0  -1.243
102  07/28/2023  33300.0  -0.240
103  07/27/2023  33600.0   0.901
104  07/26/2023  33000.0  -1.786
105  07/25/2023  33370.0   1.121
106  07/24/2023  33100.0  -0.809
107  07/21/2023  33600.0   1.511
108  07/19/2023  33600.0   0.000
109  07/18/2023  33500.0  -0.298
110  07/17/2023  33300.0  -0.597
111  07/14/2023  33700.0   1.201
112  07/13/2023  33110.0  -1.751
113  07/12/2023  33000.0  -0.332
114  07/11/2023  31060.0  -5.879
115  07/10/2023  30870.0  -0.612
116  07/07/2023  30400.0  -1.523
117  07/06/2023  30410.0   0.033
118  07/05/2023  31000.0   1.940
119  07/04/2023  31660.0   2.129
120  06/30/2023  31000.0  -2.085
121  06/29/2023  30470.0  -1.710
122  06/28/2023  29920.0  -1.805
123  06/27/2023  30430.0   1.705
124  06/26/2023  30880.0   1.479
125  06/23/2023  31040.0   0.518
126  06/22/2023  30980.0  -0.193
127  06/21/2023  31100.0   0.387
128  06/20/2023  31460.0   1.158
129  06/16/2023  32240.0   2.479
130  06/15/2023  32410.0   0.527
131  06/14/2023  32900.0   1.512
132  06/13/2023  33390.0   1.489
133  06/09/2023  33190.0  -0.599
134  06/08/2023  33850.0   1.989
135  06/07/2023  35000.0   3.397
136  06/06/2023  33200.0  -5.143
137  06/05/2023  31400.0  -5.422
138  06/02/2023  30600.0  -2.548
139  06/01/2023  28800.0  -5.882
140  05/31/2023  27800.0  -3.472
141  05/30/2023  27990.0   0.683
142  05/29/2023  29380.0   4.966
143  05/26/2023  29460.0   0.272
144  05/25/2023  29500.0   0.136
145  05/24/2023  31460.0   6.644
146  05/23/2023  31530.0   0.223
147  05/19/2023  31530.0   0.000
148  05/18/2023  32600.0   3.394
149  05/17/2023  31900.0  -2.147
150  05/16/2023  32010.0   0.345
151  05/15/2023  32240.0   0.719
152  05/12/2023  33200.0   2.978
153  05/11/2023  33670.0   1.416
154  05/10/2023  34370.0   2.079
155  05/09/2023  34600.0   0.669
156  05/08/2023  34320.0  -0.809
157  05/05/2023  35000.0   1.981
158  05/04/2023  35000.0   0.000
159  05/03/2023  34800.0  -0.571
160  05/02/2023  34800.0   0.000
161  04/28/2023  36000.0   3.448
162  04/27/2023  35110.0  -2.472
163  04/26/2023  37000.0   5.383
164  04/25/2023  38300.0   3.514
165  04/24/2023  38700.0   1.044
166  04/21/2023  38650.0  -0.129
167  04/20/2023  38880.0   0.595
168  04/19/2023  38980.0   0.257
169  04/18/2023  39200.0   0.564
170  04/17/2023  39510.0   0.791
171  04/14/2023  39170.0  -0.861
172  04/13/2023  37400.0  -4.519
173  04/12/2023  37980.0   1.551
174  04/11/2023  37000.0  -2.580
175  04/10/2023  35980.0  -2.757
176  04/05/2023  35300.0  -1.890
177  04/04/2023  34900.0  -1.133
178  04/03/2023  35000.0   0.287
179  03/31/2023  34990.0  -0.029
180  03/30/2023  33700.0  -3.687
181  03/29/2023  32800.0  -2.671
182  03/28/2023  32250.0  -1.677
183  03/27/2023  33760.0   4.682
184  03/24/2023  34000.0   0.711
185  03/23/2023  32840.0  -3.412
186  03/22/2023  32900.0   0.183
187  03/21/2023  32400.0  -1.520
188  03/17/2023  31400.0  -3.086
189  03/16/2023  31010.0  -1.242
190  03/15/2023  31460.0   1.451
191  03/14/2023  34100.0   8.392
192  03/13/2023  34110.0   0.029
193  03/10/2023  36500.0   7.007
194  03/09/2023  38100.0   4.384
195  03/08/2023  39000.0   2.362
196  03/07/2023  38680.0  -0.821
197  03/06/2023  37900.0  -2.017
198  03/03/2023  37140.0  -2.005
199  03/02/2023  36550.0  -1.589
200  03/01/2023  36450.0  -0.274
201  02/28/2023  35900.0  -1.509
202  02/27/2023  37480.0   4.401
203  02/24/2023  37000.0  -1.281
204  02/23/2023  37100.0   0.270
205  02/22/2023  38700.0   4.313
206  02/21/2023  38800.0   0.258
207  02/20/2023  39370.0   1.469
208  02/17/2023  39400.0   0.076
209  02/16/2023  39400.0   0.000
210  02/15/2023  38000.0  -3.553
211  02/14/2023  38230.0   0.605
212  02/13/2023  40000.0   4.630
213  02/10/2023  40500.0   1.250
214  02/09/2023  41390.0   2.198
215  02/08/2023  41600.0   0.507
216  02/07/2023  41800.0   0.481
217  02/06/2023  41800.0   0.000
218  02/03/2023  41760.0  -0.096
219  02/02/2023  42000.0   0.575
220  02/01/2023  41800.0  -0.476
221  01/31/2023  41990.0   0.455
222  01/30/2023  41900.0  -0.214
223  01/27/2023  42100.0   0.477
224  01/26/2023  41920.0  -0.428
225  01/25/2023  42080.0   0.382
226  01/24/2023  42000.0  -0.190
227  01/23/2023  43090.0   2.595
228  01/20/2023  43490.0   0.928
229  01/19/2023  42800.0  -1.587
230  01/18/2023  42980.0   0.421
231  01/17/2023  42980.0   0.000
232  01/16/2023  43000.0   0.047
233  01/13/2023  43480.0   1.116
234  01/12/2023  43490.0   0.023
235  01/11/2023  44000.0   1.173
236  01/10/2023  43050.0  -2.159
237  01/06/2023  42100.0  -2.207
238  01/05/2023  42750.0   1.544
239  01/04/2023  42000.0  -1.754
240  01/03/2023  41400.0  -1.429
241  01/02/2023  41500.0   0.242
242  12/29/2022  42500.0   2.410
243  12/28/2022  41440.0  -2.494
244  12/27/2022  40410.0  -2.486
245  12/26/2022  40410.0   0.000
246  12/23/2022  41100.0   1.707
247  12/22/2022  39820.0  -3.114
248  12/21/2022  41100.0   3.214
249  12/20/2022  41200.0   0.243
250  12/19/2022  42420.0   2.961
251  12/16/2022  42000.0  -0.990
252  12/15/2022  41400.0  -1.429
253  12/14/2022  40400.0  -2.415
254  12/13/2022  40400.0   0.000
255  12/12/2022  40000.0  -0.990
256  12/09/2022  39980.0  -0.050
257  12/07/2022  39200.0  -1.951
258  12/06/2022  40160.0   2.449
259  12/05/2022  40000.0  -0.398
260  12/02/2022  40000.0   0.000
261  12/01/2022  38400.0  -4.000
262  11/30/2022  40000.0   4.167
263  11/29/2022  40700.0   1.750
264  11/28/2022  40880.0   0.442
265  11/25/2022  41900.0   2.495
266  11/24/2022  41400.0  -1.193
267  11/23/2022  41600.0   0.483
268  11/22/2022  41700.0   0.240
269  11/21/2022  41200.0  -1.199
270  11/18/2022  41500.0   0.728
271  11/17/2022  41800.0   0.723
272  11/16/2022  41220.0  -1.388
273  11/15/2022  41000.0  -0.534
274  11/11/2022  40500.0  -1.220
275  11/10/2022  39700.0  -1.975
276  11/09/2022  39000.0  -1.763
277  11/08/2022  37500.0  -3.846
278  11/04/2022  36840.0  -1.760
279  11/03/2022  36000.0  -2.280
280  11/02/2022  37390.0   3.861
281  11/01/2022  35900.0  -3.985
282  10/31/2022  35500.0  -1.114
283  10/28/2022  34900.0  -1.690
284  10/27/2022  34790.0  -0.315
285  10/26/2022  34010.0  -2.242
286  10/25/2022  34500.0   1.441
287  10/24/2022  32780.0  -4.986
288  10/21/2022  35080.0   7.016
289  10/20/2022  34450.0  -1.796
290  10/19/2022  34460.0   0.029
291  10/18/2022  35500.0   3.018
292  10/14/2022  34000.0  -4.225
293  10/13/2022  33720.0  -0.824
294  10/12/2022  34200.0   1.423
295  10/11/2022  34200.0   0.000
296  10/10/2022  34280.0   0.234
297  10/07/2022  35500.0   3.559
298  10/06/2022  34890.0  -1.718
299  10/05/2022  34560.0  -0.946
300  10/04/2022  34490.0  -0.203
301  10/03/2022  32680.0  -5.248
302  09/30/2022  31100.0  -4.835
303  09/29/2022  31880.0   2.508
304  09/28/2022  31770.0  -0.345
305  09/27/2022  32240.0   1.479
306  09/26/2022  30970.0  -3.939
307  09/23/2022  33110.0   6.910
308  09/22/2022  34940.0   5.527
309  09/21/2022  34200.0  -2.118
310  09/20/2022  33100.0  -3.216
311  09/19/2022  33240.0   0.423
312  09/16/2022  33900.0   1.986
313  09/15/2022  33260.0  -1.888
314  09/14/2022  33210.0  -0.150
315  09/13/2022  33990.0   2.349
316  09/12/2022  33730.0  -0.765
317  09/09/2022  33510.0  -0.652
318  09/07/2022  32830.0  -2.029
319  09/06/2022  34000.0   3.564
320  09/05/2022  34400.0   1.176
321  09/02/2022  34200.0  -0.581
322  09/01/2022  33900.0  -0.877
323  08/31/2022  34200.0   0.885
324  08/30/2022  36980.0   8.129
325  08/29/2022  37050.0   0.189
326  08/26/2022  37950.0   2.429
327  08/25/2022  37800.0  -0.395
328  08/24/2022  36500.0  -3.439
329  08/23/2022  36500.0   0.000
330  08/22/2022  36820.0   0.877
331  08/19/2022  38000.0   3.205
332  08/18/2022  38950.0   2.500
333  08/17/2022  39000.0   0.128
334  08/16/2022  39600.0   1.538
335  08/12/2022  39900.0   0.758
336  08/11/2022  38090.0  -4.536
337  08/10/2022  37700.0  -1.024
338  08/09/2022  37500.0  -0.531
339  08/08/2022  37980.0   1.280
340  08/05/2022  37000.0  -2.580
341  08/04/2022  36700.0  -0.811
342  08/03/2022  34880.0  -4.959
343  08/02/2022  34790.0  -0.258
344  08/01/2022  34790.0   0.000
345  07/29/2022  35990.0   3.449
346  07/28/2022  38000.0   5.585
347  07/27/2022  35890.0  -5.553
348  07/26/2022  35680.0  -0.585
349  07/25/2022  34520.0  -3.251
350  07/22/2022  35330.0   2.346
351  07/21/2022  35000.0  -0.934
352  07/19/2022  35000.0   0.000
353  07/18/2022  34500.0  -1.429
354  07/15/2022  33380.0  -3.246
355  07/14/2022  33000.0  -1.138
356  07/13/2022  33630.0   1.909
357  07/12/2022  35300.0   4.966
358  07/11/2022  34990.0  -0.878
359  07/08/2022  35490.0   1.429
360  07/07/2022  35280.0  -0.592
361  07/06/2022  35000.0  -0.794
362  07/05/2022  35000.0   0.000
363  07/01/2022  34100.0  -2.571
364  06/30/2022  33540.0  -1.642
365  06/29/2022  35050.0   4.502
366  06/28/2022  36400.0   3.852
367  06/24/2022  37000.0   1.648
368  06/23/2022  37000.0   0.000
369  06/22/2022  37800.0   2.162
370  06/21/2022  38500.0   1.852
371  06/17/2022  39600.0   2.857
372  06/16/2022  40500.0   2.273
373  06/15/2022  40920.0   1.037
374  06/14/2022  41900.0   2.395
375  06/13/2022  40200.0  -4.057
376  06/10/2022  43500.0   8.209
377  06/09/2022  42650.0  -1.954
378  06/08/2022  42280.0  -0.868
379  06/07/2022  42800.0   1.230
380  06/06/2022  44000.0   2.804
381  06/03/2022  43090.0  -2.068
382  06/02/2022  43830.0   1.717
383  06/01/2022  43540.0  -0.662
384  05/31/2022  45320.0   4.088
385  05/27/2022  43950.0  -3.023
386  05/26/2022  41990.0  -4.460
387  05/25/2022  41190.0  -1.905
388  05/24/2022  40920.0  -0.655
389  05/23/2022  39420.0  -3.666
390  05/20/2022  38500.0  -2.334
391  05/19/2022  35000.0  -9.091
392  05/18/2022  37300.0   6.571
393  05/17/2022  38630.0   3.566
394  05/16/2022  38330.0  -0.777
395  05/13/2022  39160.0   2.165
396  05/12/2022  39030.0  -0.332
397  05/11/2022  39100.0   0.179
398  05/10/2022  39500.0   1.023
399  05/09/2022  39150.0  -0.886
400  05/06/2022  39800.0   1.660
401  05/05/2022  41340.0   3.869
402  05/04/2022  42100.0   1.838
403  05/02/2022  41150.0  -2.257
404  04/29/2022  38820.0  -5.662
405  04/28/2022  42000.0   8.192
406  04/27/2022  41900.0  -0.238
407  04/26/2022  40900.0  -2.387
408  04/25/2022  41000.0   0.244
409  04/22/2022  43300.0   5.610
410  04/21/2022  43000.0  -0.693
411  04/20/2022  44500.0   3.488
412  04/19/2022  43000.0  -3.371
413  04/18/2022  43250.0   0.581
414  04/13/2022  43700.0   1.040
415  04/12/2022  42790.0  -2.082
416  04/11/2022  43800.0   2.360
417  04/08/2022  42550.0  -2.854
418  04/07/2022  43800.0   2.938
419  04/06/2022  43380.0  -0.959
420  04/05/2022  43800.0   0.968
421  04/04/2022  43400.0  -0.913
422  04/01/2022  43610.0   0.484
423  03/31/2022  43380.0  -0.527
424  03/30/2022  41800.0  -3.642
425  03/29/2022  42360.0   1.340
426  03/28/2022  42300.0  -0.142
427  03/25/2022  42240.0  -0.142
428  03/24/2022  41900.0  -0.805
429  03/23/2022  41500.0  -0.955
430  03/22/2022  40200.0  -3.133
431  03/18/2022  39670.0  -1.318
432  03/17/2022  39100.0  -1.437
433  03/16/2022  38850.0  -0.639
434  03/15/2022  38200.0  -1.673
435  03/14/2022  38310.0   0.288
436  03/11/2022  39180.0   2.271
437  03/10/2022  39300.0   0.306
438  03/09/2022  39080.0  -0.560
439  03/08/2022  39000.0  -0.205
440  03/07/2022  39600.0   1.538
441  03/04/2022  40000.0   1.010
442  03/03/2022  39990.0  -0.025
443  03/02/2022  39850.0  -0.350
444  03/01/2022  39890.0   0.100
445  02/28/2022  39040.0  -2.131
446  02/25/2022  39240.0   0.512
447  02/24/2022  38990.0  -0.637
448  02/23/2022  38570.0  -1.077
449  02/22/2022  36900.0  -4.330
450  02/21/2022  37290.0   1.057
451  02/18/2022  37060.0  -0.617
452  02/17/2022  37920.0   2.321
453  02/16/2022  38120.0   0.527
454  02/15/2022  37990.0  -0.341
455  02/14/2022  37500.0  -1.290
456  02/11/2022  36700.0  -2.133
457  02/10/2022  36380.0  -0.872
458  02/09/2022  37970.0   4.371
459  02/08/2022  37830.0  -0.369
460  02/07/2022  38900.0   2.828
461  02/04/2022  38990.0   0.231
462  02/03/2022  39000.0   0.026
463  02/02/2022  39200.0   0.513
464  02/01/2022  39010.0  -0.485
465  01/31/2022  39500.0   1.256
466  01/28/2022  39610.0   0.278
467  01/27/2022  39100.0  -1.288
468  01/26/2022  39000.0  -0.256
469  01/25/2022  39800.0   2.051
470  01/24/2022  40000.0   0.503
471  01/21/2022  38850.0  -2.875
472  01/20/2022  40300.0   3.732
473  01/19/2022  42200.0   4.715
474  01/18/2022  42050.0  -0.355
475  01/17/2022  38310.0  -8.894
476  01/14/2022  36480.0  -4.777
477  01/13/2022  37600.0   3.070
478  01/12/2022  35380.0  -5.904
479  01/11/2022  34800.0  -1.639
480  01/07/2022  34200.0  -1.724
481  01/06/2022  33860.0  -0.994
482  01/05/2022  34000.0   0.413
483  01/04/2022  34840.0   2.471
484  01/03/2022  34500.0  -0.976
485  12/30/2021  34700.0   0.580
486  12/29/2021  34700.0   0.000
487  12/28/2021  33290.0  -4.063
488  12/27/2021  32960.0  -0.991
489  12/24/2021  33380.0   1.274
490  12/23/2021  33000.0  -1.138
491  12/22/2021  33680.0   2.061
492  12/21/2021  32500.0  -3.504
493  12/20/2021  33700.0   3.692
494  12/17/2021  34160.0   1.365
495  12/16/2021  34000.0  -0.468
496  12/15/2021  32590.0  -4.147
497  12/14/2021  31510.0  -3.314
498  12/13/2021  30900.0  -1.936
499  12/10/2021  32220.0   4.272
500  12/09/2021  32600.0   1.179
501  12/07/2021  32300.0  -0.920
502  12/06/2021  34510.0   6.842
503  12/03/2021  35000.0   1.420
504  12/02/2021  35880.0   2.514
505  12/01/2021  34500.0  -3.846
506  11/30/2021  32370.0  -6.174
507  11/29/2021  30400.0  -6.086
508  11/26/2021  30050.0  -1.151
509  11/25/2021  30550.0   1.664
510  11/24/2021  30500.0  -0.164
511  11/23/2021  30300.0  -0.656
512  11/22/2021  30290.0  -0.033
513  11/19/2021  30000.0  -0.957
514  11/18/2021  30900.0   3.000
515  11/17/2021  30600.0  -0.971
516  11/16/2021  31100.0   1.634
517  11/12/2021  32160.0   3.408
518  11/11/2021  32200.0   0.124
519  11/10/2021  32210.0   0.031
520  11/09/2021  32880.0   2.080
521  11/08/2021  33480.0   1.825
522  11/05/2021  33460.0  -0.060
523  11/04/2021  33400.0  -0.179
524  11/03/2021  34000.0   1.796
525  11/02/2021  34000.0   0.000
526  10/29/2021  33680.0  -0.941
527  10/28/2021  34490.0   2.405
528  10/27/2021  34450.0  -0.116
529  10/26/2021  34500.0   0.145
530  10/25/2021  34200.0  -0.870
531  10/22/2021  33460.0  -2.164
532  10/21/2021  34040.0   1.733
533  10/20/2021  34230.0   0.558
534  10/19/2021  34130.0  -0.292
535  10/15/2021  34560.0   1.260
536  10/14/2021  34380.0  -0.521
537  10/13/2021  33180.0  -3.490
538  10/12/2021  32520.0  -1.989
539  10/11/2021  33330.0   2.491
540  10/08/2021  33400.0   0.210
541  10/07/2021  33480.0   0.240
542  10/06/2021  33000.0  -1.434
543  10/05/2021  33100.0   0.303
544  10/04/2021  33280.0   0.544
545  10/01/2021  33000.0  -0.841
546  09/30/2021  32960.0  -0.121
547  09/29/2021  32680.0  -0.850
548  09/28/2021  32420.0  -0.796
549  09/27/2021  32370.0  -0.154
550  09/24/2021  30880.0  -4.603
551  09/23/2021  30640.0  -0.777
552  09/22/2021  30500.0  -0.457
553  09/21/2021  30570.0   0.230
554  09/20/2021  30900.0   1.079
555  09/17/2021  31300.0   1.294
556  09/16/2021  31180.0  -0.383
557  09/15/2021  31200.0   0.064
558  09/14/2021  31000.0  -0.641
559  09/13/2021  30800.0  -0.645
560  09/10/2021  31290.0   1.591
561  09/09/2021  31390.0   0.320
562  09/08/2021  31020.0  -1.179
563  09/07/2021  31000.0  -0.064
564  09/06/2021  31260.0   0.839
565  09/03/2021  31400.0   0.448
566  09/02/2021  31200.0  -0.637
567  09/01/2021  31300.0   0.321
568  08/31/2021  31070.0  -0.735
569  08/30/2021  31330.0   0.837
570  08/27/2021  31200.0  -0.415
571  08/26/2021  30800.0  -1.282
572  08/25/2021  31330.0   1.721
573  08/24/2021  31400.0   0.223
574  08/23/2021  31480.0   0.255
575  08/20/2021  31270.0  -0.667
576  08/19/2021  31600.0   1.055
577  08/18/2021  31380.0  -0.696
578  08/17/2021  30500.0  -2.804
579  08/13/2021  29610.0  -2.918
580  08/12/2021  28990.0  -2.094
581  08/11/2021  28200.0  -2.725
582  08/10/2021  27800.0  -1.418
583  08/09/2021  27520.0  -1.007
584  08/06/2021  27250.0  -0.981
585  08/05/2021  27530.0   1.028
586  08/04/2021  28190.0   2.397
587  08/03/2021  27640.0  -1.951
588  08/02/2021  27700.0   0.217
589  07/30/2021  27100.0  -2.166
590  07/29/2021  27720.0   2.288
591  07/28/2021  27800.0   0.289
592  07/27/2021  28020.0   0.791
593  07/26/2021  28300.0   0.999
594  07/23/2021  28270.0  -0.106
595  07/22/2021  28100.0  -0.601
596  07/21/2021  27820.0  -0.996
597  07/19/2021  27200.0  -2.229
598  07/16/2021  27990.0   2.904
599  07/15/2021  28000.0   0.036
600  07/14/2021  28100.0   0.357
601  07/13/2021  28070.0  -0.107
602  07/12/2021  28180.0   0.392
603  07/09/2021  28100.0  -0.284
604  07/08/2021  27610.0  -1.744
605  07/07/2021  27600.0  -0.036

# Definición de estados

In [ ]:
new_col = []
l = 20
data = df_bancolombia['Yn']

for i, percentage in enumerate(data):
    if(i >= (l - 1)):
        min = i - l
        
        desviacion = np.std(data[min:i])

        if percentage > (2 * desviacion):
            new_col.append('S3')
        elif percentage > desviacion:
            new_col.append('S2')
        elif percentage > 0:
            new_col.append('S1')
        elif percentage > -(desviacion):
            new_col.append('B1')
        elif percentage > -(2 * desviacion):
            new_col.append('B2')
        else:
            new_col.append('B3')

df_bancolombia = df_bancolombia.drop([i for i in range(1,l)])
df_bancolombia.insert(2, 'Estado', new_col, True)

In [ ]:
df_bancolombia

           Date    Price Estado        Yn
20   11/28/2023  30200.0     B3 -0.066181
21   11/27/2023  30200.0     B1  0.000000
22   11/24/2023  29640.0     B1 -1.854305
23   11/23/2023  29600.0     B1 -0.134953
24   11/22/2023  30200.0     S1  2.027027
..          ...      ...    ...       ...
967  01/09/2020  43300.0     S2  1.547842
968  01/08/2020  43460.0     S1  0.369515
969  01/07/2020  43800.0     S1  0.782329
970  01/03/2020  44300.0     S2  1.141553
971  01/02/2020  44380.0     S1  0.180587

[952 rows x 4 columns]

In [ ]:
estados_posibles = ['B3','B2','B1','S1','S2','S3']

total_cols = len(estados_posibles)
total_rows = total_cols*total_cols

In [ ]:
estados = np.array(df_bancolombia['Estado'])

markovian_table = np.array(estados)
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
markovian_table = np.vstack([markovian_table,estados])
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
markovian_table = np.vstack([markovian_table,estados])

markovian_table = markovian_table.T
markovian_table = np.delete(markovian_table, [-1, -2], axis=0)
markovian_table

array([['B3', 'B1', 'B1'],
       ['B1', 'B1', 'B1'],
       ['B1', 'B1', 'S1'],
       ...,
       ['S2', 'S1', 'S1'],
       ['S1', 'S1', 'S2'],
       ['S1', 'S2', 'S1']], dtype=object)

In [ ]:
expected_freq = [[0] * (total_cols + 1) for i in range(total_cols)]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    expected_freq[row_index][col_index] += 1
    expected_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
expected_freq_df = pd.DataFrame(expected_freq, columns=cols)
cols.pop(-1)
expected_freq_df.insert(0, 'T_Actual', cols)
expected_freq_df

  T_Actual  B3  B2   B1   S1  S2  S3  Recuento
0       B3   4   7    8    6   5   4        34
1       B2   3  15   46   31  13   9       117
2       B1  11  47  118  114  37   8       335
3       S1   4  32  119   99  50   8       312
4       S2   8  15   33   47   9   5       117
5       S3   4   1   10   16   3   1        35

In [ ]:
invalid_counter = 0

for i in range(total_cols):
    for j in range(1,total_cols + 1):
        if expected_freq_df.iat[i, j] < 5:
            invalid_counter += 1
            
cumple_empirica = invalid_counter < 0.25 * (total_cols ** 2)
print(f'Cumple la empírica? RTA: {cumple_empirica}')

Cumple la empírica? RTA: True

# Modelo - Matriz de transición

In [ ]:
model_freq = [[0] * total_cols for i in range(total_cols)]
total_freq = [0,0,0,0,0,0,0,0]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    model_freq[row_index][col_index] += 1
    total_freq[row_index] += 1

model_transition_prob_df = pd.DataFrame(model_freq, columns=estados_posibles)
model_transition_prob_df.insert(0, 'Actual', estados_posibles)

for i in range(total_cols):
    for j in range(1,total_cols+1):
        model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)

model_transition_prob_df

C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.11764705882352941' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.20588235294117646' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.23529411764705882' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.17647058823529413' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14705882352941177' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)

  Actual        B3        B2        B1        S1        S2        S3
0     B3  0.117647  0.205882  0.235294  0.176471  0.147059  0.117647
1     B2  0.025641  0.128205  0.393162  0.264957  0.111111  0.076923
2     B1  0.032836  0.140299  0.352239  0.340299  0.110448  0.023881
3     S1  0.012821  0.102564  0.381410  0.317308  0.160256  0.025641
4     S2  0.068376  0.128205  0.282051  0.401709  0.076923  0.042735
5     S3  0.114286  0.028571  0.285714  0.457143  0.085714  0.028571

# Propiedad Markoviana

In [ ]:
observed_rows = list(itertools.product(estados_posibles,repeat=2))

observed_freq = [[0] * (total_cols + 1) for i in range(total_rows)]

for i in range(len(markovian_table)):
    history = (markovian_table[i][0],markovian_table[i][1])
    row_index = observed_rows.index(history)
    col_index = estados_posibles.index(markovian_table[i][2])

    observed_freq[row_index][col_index] += 1
    observed_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
observed_freq_df = pd.DataFrame(observed_freq, columns=cols)
observed_freq_df.insert(0, 'History', observed_rows)
observed_freq_df

     History  B3  B2  B1  S1  S2  S3  Recuento
0   (B3, B3)   0   2   0   1   1   0         4
1   (B3, B2)   2   0   2   1   2   0         7
2   (B3, B1)   0   3   5   1   0   0         9
3   (B3, S1)   0   1   3   1   1   0         6
4   (B3, S2)   0   1   1   3   0   0         5
5   (B3, S3)   0   1   2   1   0   0         4
6   (B2, B3)   0   3   0   0   0   0         3
7   (B2, B2)   0   1   7   5   1   1        15
8   (B2, B1)   3   9  15   9   6   4        46
9   (B2, S1)   1   3  10   9   6   2        31
10  (B2, S2)   1   3   3   6   0   0        13
11  (B2, S3)   0   0   3   3   2   1         9
12  (B1, B3)   1   2   3   2   2   1        11
13  (B1, B2)   0   5  18  14   7   3        47
14  (B1, B1)   3  17  46  36  16   0       118
15  (B1, S1)   2  14  44  27  25   2       114
16  (B1, S2)   2   4  10  12   4   5        37
17  (B1, S3)   1   0   2   5   0   0         8
18  (S1, B3)   1   0   2   0   0   1         4
19  (S1, B2)   1   6  10   9   3   3        32
20  (S1, B1)   2  15  37  51  13   1       119
21  (S1, S1)   1   7  44  33  12   2        99
22  (S1, S2)   4   6  15  20   5   0        50
23  (S1, S3)   1   0   1   5   1   0         8
24  (S2, B3)   1   0   1   3   1   2         8
25  (S2, B2)   0   3   8   2   0   2        15
26  (S2, B1)   2   2  12  14   0   3        33
27  (S2, S1)   0   4  15  22   5   0        46
28  (S2, S2)   1   1   3   4   0   0         9
29  (S2, S3)   2   0   1   2   0   0         5
30  (S3, B3)   1   0   2   0   1   0         4
31  (S3, B2)   0   0   1   0   0   0         1
32  (S3, B1)   1   1   3   3   2   0        10
33  (S3, S1)   0   3   3   7   1   2        16
34  (S3, S2)   0   0   1   2   0   0         3
35  (S3, S3)   0   0   1   0   0   0         1

In [ ]:
observed_prob_df = observed_freq_df.copy()
for i in range(total_rows):
    for j in range(1,total_cols+1):
        if observed_prob_df.iat[i, total_cols+1] == 0:
            observed_prob_df.iat[i, j] = 0
        else:
            observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)

observed_prob_df = observed_prob_df.drop(columns=['Recuento'], axis=1)
observed_prob_df

C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.25' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.2857142857142857' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.06666666666666667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)

     History        B3        B2        B1        S1        S2        S3
0   (B3, B3)  0.000000  0.500000  0.000000  0.250000  0.250000  0.000000
1   (B3, B2)  0.285714  0.000000  0.285714  0.142857  0.285714  0.000000
2   (B3, B1)  0.000000  0.333333  0.555556  0.111111  0.000000  0.000000
3   (B3, S1)  0.000000  0.166667  0.500000  0.166667  0.166667  0.000000
4   (B3, S2)  0.000000  0.200000  0.200000  0.600000  0.000000  0.000000
5   (B3, S3)  0.000000  0.250000  0.500000  0.250000  0.000000  0.000000
6   (B2, B3)  0.000000  1.000000  0.000000  0.000000  0.000000  0.000000
7   (B2, B2)  0.000000  0.066667  0.466667  0.333333  0.066667  0.066667
8   (B2, B1)  0.065217  0.195652  0.326087  0.195652  0.130435  0.086957
9   (B2, S1)  0.032258  0.096774  0.322581  0.290323  0.193548  0.064516
10  (B2, S2)  0.076923  0.230769  0.230769  0.461538  0.000000  0.000000
11  (B2, S3)  0.000000  0.000000  0.333333  0.333333  0.222222  0.111111
12  (B1, B3)  0.090909  0.181818  0.272727  0.181818  0.181818  0.090909
13  (B1, B2)  0.000000  0.106383  0.382979  0.297872  0.148936  0.063830
14  (B1, B1)  0.025424  0.144068  0.389831  0.305085  0.135593  0.000000
15  (B1, S1)  0.017544  0.122807  0.385965  0.236842  0.219298  0.017544
16  (B1, S2)  0.054054  0.108108  0.270270  0.324324  0.108108  0.135135
17  (B1, S3)  0.125000  0.000000  0.250000  0.625000  0.000000  0.000000
18  (S1, B3)  0.250000  0.000000  0.500000  0.000000  0.000000  0.250000
19  (S1, B2)  0.031250  0.187500  0.312500  0.281250  0.093750  0.093750
20  (S1, B1)  0.016807  0.126050  0.310924  0.428571  0.109244  0.008403
21  (S1, S1)  0.010101  0.070707  0.444444  0.333333  0.121212  0.020202
22  (S1, S2)  0.080000  0.120000  0.300000  0.400000  0.100000  0.000000
23  (S1, S3)  0.125000  0.000000  0.125000  0.625000  0.125000  0.000000
24  (S2, B3)  0.125000  0.000000  0.125000  0.375000  0.125000  0.250000
25  (S2, B2)  0.000000  0.200000  0.533333  0.133333  0.000000  0.133333
26  (S2, B1)  0.060606  0.060606  0.363636  0.424242  0.000000  0.090909
27  (S2, S1)  0.000000  0.086957  0.326087  0.478261  0.108696  0.000000
28  (S2, S2)  0.111111  0.111111  0.333333  0.444444  0.000000  0.000000
29  (S2, S3)  0.400000  0.000000  0.200000  0.400000  0.000000  0.000000
30  (S3, B3)  0.250000  0.000000  0.500000  0.000000  0.250000  0.000000
31  (S3, B2)  0.000000  0.000000  1.000000  0.000000  0.000000  0.000000
32  (S3, B1)  0.100000  0.100000  0.300000  0.300000  0.200000  0.000000
33  (S3, S1)  0.000000  0.187500  0.187500  0.437500  0.062500  0.125000
34  (S3, S2)  0.000000  0.000000  0.333333  0.666667  0.000000  0.000000
35  (S3, S3)  0.000000  0.000000  1.000000  0.000000  0.000000  0.000000

In [ ]:
expected_freq = [[0] * (total_cols + 1) for i in range(total_cols)]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    expected_freq[row_index][col_index] += 1
    expected_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
expected_freq_df = pd.DataFrame(expected_freq, columns=cols)
cols.pop(-1)
expected_freq_df.insert(0, 'History', cols)
expected_freq_df

  History  B3  B2   B1   S1  S2  S3  Recuento
0      B3   4   7    8    6   5   4        34
1      B2   3  15   46   31  13   9       117
2      B1  11  47  118  114  37   8       335
3      S1   4  32  119   99  50   8       312
4      S2   8  15   33   47   9   5       117
5      S3   4   1   10   16   3   1        35

In [ ]:
expected_prob_df = expected_freq_df.copy()
for i in range(total_cols):
    for j in range(1,total_cols+1):
        expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)

expected_prob_df = expected_prob_df.drop(columns=['Recuento'], axis=1)
expected_prob_df

C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.11764705882352941' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.20588235294117646' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.23529411764705882' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.17647058823529413' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14705882352941177' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)

  History        B3        B2        B1        S1        S2        S3
0      B3  0.117647  0.205882  0.235294  0.176471  0.147059  0.117647
1      B2  0.025641  0.128205  0.393162  0.264957  0.111111  0.076923
2      B1  0.032836  0.140299  0.352239  0.340299  0.110448  0.023881
3      S1  0.012821  0.102564  0.381410  0.317308  0.160256  0.025641
4      S2  0.068376  0.128205  0.282051  0.401709  0.076923  0.042735
5      S3  0.114286  0.028571  0.285714  0.457143  0.085714  0.028571

In [ ]:
chi_values = []
k = 0

for i in range(total_rows):
    for j in range(1,total_cols+1):
        if expected_prob_df.iat[k,j] == 0:
            chi_parcial = (0)
        else: 
            chi_parcial = observed_freq_df.iat[i,total_cols+1] * ((observed_prob_df.iat[i,j] - expected_prob_df.iat[k,j]) ** 2) / expected_prob_df.iat[k,j]

        chi_values.append(chi_parcial)

    k += 1
    if k == total_cols:
        k = 0

chi_observado = sum(chi_values)
chi_observado

184.05140877540757

In [ ]:
from scipy.stats.distributions import chi2

alpha = 0.01
rows = total_rows
cols = total_cols
grados = (rows - 1)*(cols - 1)

chi_teorico = chi2.ppf(1 - alpha, df=grados)
chi_teorico

221.4383745662851

In [ ]:
is_not_markovian = chi_observado >= chi_teorico
print(f'Se rechaza la cadena (no es markoviana)? RTA: {is_not_markovian}')

Se rechaza la cadena (no es markoviana)? RTA: False

# Propiedad Estacionaria

Definiremos los periodos de tiempo como años

In [ ]:
new_col = []
for date in df_bancolombia['Date']:
    if '2020' in date:
        new_col.append(1)
    elif '2021' in date:
        new_col.append(2)
    elif '2022' in date:
        new_col.append(3)
    else:
        new_col.append(4)
df_bancolombia.insert(2, 'Periodo', new_col, True)

df_bancolombia

           Date    Price  Periodo Estado        Yn
20   11/28/2023  30200.0        4     B3 -0.066181
21   11/27/2023  30200.0        4     B1  0.000000
22   11/24/2023  29640.0        4     B1 -1.854305
23   11/23/2023  29600.0        4     B1 -0.134953
24   11/22/2023  30200.0        4     S1  2.027027
..          ...      ...      ...    ...       ...
967  01/09/2020  43300.0        1     S2  1.547842
968  01/08/2020  43460.0        1     S1  0.369515
969  01/07/2020  43800.0        1     S1  0.782329
970  01/03/2020  44300.0        1     S2  1.141553
971  01/02/2020  44380.0        1     S1  0.180587

[952 rows x 5 columns]

In [ ]:
periodos = np.array(df_bancolombia['Periodo'])
estados = np.array(df_bancolombia['Estado'])

stationary_table = np.array(periodos)
stationary_table = np.vstack([stationary_table, estados])
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
stationary_table = np.vstack([stationary_table, estados])

stationary_table = stationary_table.T
stationary_table = np.delete(stationary_table, -1, axis=0)
stationary_table

array([[4, 'B3', 'B1'],
       [4, 'B1', 'B1'],
       [4, 'B1', 'B1'],
       ...,
       [1, 'S1', 'S1'],
       [1, 'S1', 'S2'],
       [1, 'S2', 'S1']], dtype=object)

In [ ]:
observed_rows = list(itertools.product([1,2,3,4], estados_posibles))

observed_freq = [[0] * (total_cols + 1) for i in range(len(observed_rows))]

for i in range(len(markovian_table)):
    history = (stationary_table[i][0], stationary_table[i][1])
    row_index = observed_rows.index(history)
    col_index = estados_posibles.index(stationary_table[i][2])

    observed_freq[row_index][col_index] += 1
    observed_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
observed_freq_stat_df = pd.DataFrame(observed_freq, columns=cols)
observed_freq_stat_df.insert(0, 'History', observed_rows)
observed_freq_stat_df

    History  B3  B2  B1  S1  S2  S3  Recuento
0   (1, B3)   1   0   3   2   1   0         7
1   (1, B2)   0   5  12  10   2   1        30
2   (1, B1)   1  11  31  30   8   2        83
3   (1, S1)   3  12  25  26  16   3        85
4   (1, S2)   1   2  10  12   0   2        27
5   (1, S3)   1   0   2   5   0   0         8
6   (2, B3)   1   4   1   1   2   1        10
7   (2, B2)   2   2  11   7   7   1        30
8   (2, B1)   3  14  26  27   9   4        83
9   (2, S1)   0   6  35  32  10   1        84
10  (2, S2)   3   3   9  11   3   1        30
11  (2, S3)   1   1   1   5   0   0         8
12  (3, B3)   0   1   2   1   1   3         8
13  (3, B2)   0   3  15   7   3   4        32
14  (3, B1)   5  16  38  29   9   1        98
15  (3, S1)   1   6  30  14  12   1        64
16  (3, S2)   1   6   8  11   3   1        30
17  (3, S3)   1   0   5   3   1   1        11
18  (4, B3)   2   2   3   2   1   0        10
19  (4, B2)   1   5   8   7   1   3        25
20  (4, B1)   2   6  23  28  11   1        71
21  (4, S1)   0   8  29  27  12   3        79
22  (4, S2)   3   4   6  12   3   1        29
23  (4, S3)   1   0   2   3   2   0         8

In [ ]:
observed_prob_stat_df = observed_freq_stat_df.copy()
for i in range(len(observed_rows)):
    for j in range(1,total_cols+1):
        if observed_prob_stat_df.iat[i, total_cols+1] == 0:
            observed_prob_stat_df.iat[i, j] = 0
        else:
            observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)

observed_prob_stat_df = observed_prob_stat_df.drop(columns=['Recuento'], axis=1)
observed_prob_stat_df

C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14285714285714285' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.42857142857142855' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.2857142857142857' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.16666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\FAMILIA\AppData\Local\Temp\ipykernel_14684\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.03333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)

    History        B3        B2        B1        S1        S2        S3
0   (1, B3)  0.142857  0.000000  0.428571  0.285714  0.142857  0.000000
1   (1, B2)  0.000000  0.166667  0.400000  0.333333  0.066667  0.033333
2   (1, B1)  0.012048  0.132530  0.373494  0.361446  0.096386  0.024096
3   (1, S1)  0.035294  0.141176  0.294118  0.305882  0.188235  0.035294
4   (1, S2)  0.037037  0.074074  0.370370  0.444444  0.000000  0.074074
5   (1, S3)  0.125000  0.000000  0.250000  0.625000  0.000000  0.000000
6   (2, B3)  0.100000  0.400000  0.100000  0.100000  0.200000  0.100000
7   (2, B2)  0.066667  0.066667  0.366667  0.233333  0.233333  0.033333
8   (2, B1)  0.036145  0.168675  0.313253  0.325301  0.108434  0.048193
9   (2, S1)  0.000000  0.071429  0.416667  0.380952  0.119048  0.011905
10  (2, S2)  0.100000  0.100000  0.300000  0.366667  0.100000  0.033333
11  (2, S3)  0.125000  0.125000  0.125000  0.625000  0.000000  0.000000
12  (3, B3)  0.000000  0.125000  0.250000  0.125000  0.125000  0.375000
13  (3, B2)  0.000000  0.093750  0.468750  0.218750  0.093750  0.125000
14  (3, B1)  0.051020  0.163265  0.387755  0.295918  0.091837  0.010204
15  (3, S1)  0.015625  0.093750  0.468750  0.218750  0.187500  0.015625
16  (3, S2)  0.033333  0.200000  0.266667  0.366667  0.100000  0.033333
17  (3, S3)  0.090909  0.000000  0.454545  0.272727  0.090909  0.090909
18  (4, B3)  0.200000  0.200000  0.300000  0.200000  0.100000  0.000000
19  (4, B2)  0.040000  0.200000  0.320000  0.280000  0.040000  0.120000
20  (4, B1)  0.028169  0.084507  0.323944  0.394366  0.154930  0.014085
21  (4, S1)  0.000000  0.101266  0.367089  0.341772  0.151899  0.037975
22  (4, S2)  0.103448  0.137931  0.206897  0.413793  0.103448  0.034483
23  (4, S3)  0.125000  0.000000  0.250000  0.375000  0.250000  0.000000

In [ ]:
expected_prob_df

  History        B3        B2        B1        S1        S2        S3
0      B3  0.117647  0.205882  0.235294  0.176471  0.147059  0.117647
1      B2  0.025641  0.128205  0.393162  0.264957  0.111111  0.076923
2      B1  0.032836  0.140299  0.352239  0.340299  0.110448  0.023881
3      S1  0.012821  0.102564  0.381410  0.317308  0.160256  0.025641
4      S2  0.068376  0.128205  0.282051  0.401709  0.076923  0.042735
5      S3  0.114286  0.028571  0.285714  0.457143  0.085714  0.028571

In [ ]:
chi_values = []
k = 0

for i in range(len(observed_rows)):
    for j in range(1,total_cols+1):
        if expected_prob_df.iat[k,j] == 0:
            chi_parcial = 0
        else: 
            chi_parcial = observed_freq_stat_df.iat[i,total_cols+1] * ((observed_prob_stat_df.iat[i,j] - expected_prob_df.iat[k,j]) ** 2) / expected_prob_df.iat[k,j]

        chi_values.append(chi_parcial)

    k += 1
    if k == total_cols:
        k = 0

chi_stat_observado = sum(chi_values)
chi_stat_observado

83.58180903134445

In [ ]:
is_not_stationary = chi_stat_observado >= chi_teorico
print(f'La cadena no cumple la propiedad estacionaria? RTA: {is_not_stationary}')

La cadena no cumple la propiedad estacionaria? RTA: False