In [33]:
import numpy as np
import pandas as pd
import itertools 
import matplotlib.pyplot as plt
import math

In [34]:
df_nutresa = pd.read_csv("nutresa.csv")
df_nutresa

           Date     Price      Open      High       Low     Vol. Change %
0    02/14/2024  46,700.0  46,740.0  46,740.0  46,300.0    1.38K   -0.09%
1    02/13/2024  46,740.0  45,800.0  46,740.0  45,140.0    5.06K    1.61%
2    02/09/2024  46,000.0  46,020.0  46,020.0  45,600.0   11.56K   -1.88%
3    02/07/2024  46,880.0  46,400.0  46,880.0  46,080.0   11.79K    1.25%
4    02/06/2024  46,300.0  46,380.0  46,380.0  46,000.0    2.35K    0.65%
..          ...       ...       ...       ...       ...      ...      ...
827  04/07/2020  20,020.0  19,840.0  20,200.0  19,840.0  311.22K    1.52%
828  04/06/2020  19,720.0  20,100.0  20,280.0  18,800.0  165.46K    0.10%
829  04/03/2020  19,700.0  19,460.0  19,700.0  19,120.0  386.61K    1.23%
830  04/02/2020  19,460.0  18,200.0  19,460.0  18,020.0  144.65K    4.40%
831  04/01/2020  18,640.0  19,040.0  19,040.0  18,280.0   61.36K   -2.41%

[832 rows x 7 columns]

# Preprocesamiento

In [35]:
#Eliminar columnas inútiles
df_nutresa = df_nutresa.drop(columns=['Open','High','Low','Vol.','Change %'])

#Se invierte el dataframe para empezar desde los datos mas antiguos
df_nutresa = df_nutresa.iloc[::-1]
df_nutresa = df_nutresa.reset_index(drop=True)

#Convertir los precios de string a float
df_nutresa['Price'] = df_nutresa['Price'].str.replace(',', '')
df_nutresa['Price'] = df_nutresa['Price'].astype(float)

#Añade la columna Y_n definida en la guía
new_col = [0]
for i in range(1, len(df_nutresa)):
    new_col.append(float((df_nutresa['Price'][i]/df_nutresa['Price'][i-1]) - 1))
df_nutresa.insert(2, 'Yn', new_col, True)

#Eliminamos primer dato debido a que no se puede calcular Yn
df_nutresa = df_nutresa.drop([0])
df_nutresa = df_nutresa.reset_index(drop=True)

In [36]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df_nutresa)

           Date    Price         Yn
0    04/02/2020  19460.0  4.399e-02
1    04/03/2020  19700.0  1.233e-02
2    04/06/2020  19720.0  1.015e-03
3    04/07/2020  20020.0  1.521e-02
4    04/08/2020  20700.0  3.397e-02
5    04/13/2020  21300.0  2.899e-02
6    04/14/2020  22780.0  6.948e-02
7    04/15/2020  22980.0  8.780e-03
8    04/16/2020  22960.0 -8.703e-04
9    04/17/2020  22900.0 -2.613e-03
10   04/20/2020  22620.0 -1.223e-02
11   04/21/2020  22800.0  7.958e-03
12   04/22/2020  22500.0 -1.316e-02
13   04/23/2020  23960.0  6.489e-02
14   04/24/2020  23100.0 -3.589e-02
15   04/27/2020  23200.0  4.329e-03
16   04/28/2020  23100.0 -4.310e-03
17   04/29/2020  22720.0 -1.645e-02
18   04/30/2020  22060.0 -2.905e-02
19   05/04/2020  22000.0 -2.720e-03
20   05/05/2020  21800.0 -9.091e-03
21   05/06/2020  22000.0  9.174e-03
22   05/07/2020  22420.0  1.909e-02
23   05/08/2020  22720.0  1.338e-02
24   05/11/2020  22840.0  5.282e-03
25   05/12/2020  22800.0 -1.751e-03
26   05/13/2020  22000.0 -3.509e-02
27   05/14/2020  21940.0 -2.727e-03
28   05/15/2020  22300.0  1.641e-02
29   05/18/2020  22080.0 -9.865e-03
30   05/19/2020  22080.0  0.000e+00
31   05/20/2020  22100.0  9.058e-04
32   05/21/2020  22120.0  9.050e-04
33   05/22/2020  22100.0 -9.042e-04
34   05/26/2020  22660.0  2.534e-02
35   05/27/2020  22480.0 -7.944e-03
36   05/28/2020  22500.0  8.897e-04
37   05/29/2020  22160.0 -1.511e-02
38   06/01/2020  22020.0 -6.318e-03
39   06/02/2020  22500.0  2.180e-02
40   06/03/2020  22600.0  4.444e-03
41   06/04/2020  22660.0  2.655e-03
42   06/05/2020  22800.0  6.178e-03
43   06/08/2020  22920.0  5.263e-03
44   06/09/2020  22620.0 -1.309e-02
45   06/10/2020  22460.0 -7.073e-03
46   06/11/2020  21300.0 -5.165e-02
47   06/12/2020  21300.0  0.000e+00
48   06/16/2020  20620.0 -3.192e-02
49   06/17/2020  20240.0 -1.843e-02
50   06/18/2020  20420.0  8.893e-03
51   06/19/2020  20600.0  8.815e-03
52   06/23/2020  21200.0  2.913e-02
53   06/24/2020  21160.0 -1.887e-03
54   06/25/2020  21000.0 -7.561e-03
55   06/26/2020  20640.0 -1.714e-02
56   06/30/2020  20900.0  1.260e-02
57   07/01/2020  20820.0 -3.828e-03
58   07/02/2020  20620.0 -9.606e-03
59   07/03/2020  20600.0 -9.699e-04
60   07/06/2020  20880.0  1.359e-02
61   07/07/2020  20880.0  0.000e+00
62   07/08/2020  21280.0  1.916e-02
63   07/09/2020  21140.0 -6.579e-03
64   07/10/2020  21040.0 -4.730e-03
65   07/13/2020  20940.0 -4.753e-03
66   07/14/2020  20800.0 -6.686e-03
67   07/15/2020  20780.0 -9.615e-04
68   07/16/2020  21000.0  1.059e-02
69   07/17/2020  20940.0 -2.857e-03
70   07/21/2020  21180.0  1.146e-02
71   07/22/2020  21020.0 -7.554e-03
72   07/23/2020  21340.0  1.522e-02
73   07/24/2020  21160.0 -8.435e-03
74   07/27/2020  21060.0 -4.726e-03
75   07/28/2020  20880.0 -8.547e-03
76   07/29/2020  20780.0 -4.789e-03
77   07/30/2020  20500.0 -1.347e-02
78   07/31/2020  20200.0 -1.463e-02
79   08/03/2020  20360.0  7.921e-03
80   08/04/2020  20200.0 -7.859e-03
81   08/05/2020  20280.0  3.960e-03
82   08/06/2020  20700.0  2.071e-02
83   08/10/2020  20780.0  3.865e-03
84   08/11/2020  20660.0 -5.775e-03
85   08/12/2020  20680.0  9.681e-04
86   08/13/2020  20600.0 -3.868e-03
87   08/14/2020  20300.0 -1.456e-02
88   08/18/2020  20440.0  6.897e-03
89   08/19/2020  20580.0  6.849e-03
90   08/20/2020  20700.0  5.831e-03
91   08/21/2020  20620.0 -3.865e-03
92   08/24/2020  20980.0  1.746e-02
93   08/25/2020  22000.0  4.862e-02
94   08/26/2020  21620.0 -1.727e-02
95   08/27/2020  21620.0  0.000e+00
96   08/28/2020  21880.0  1.203e-02
97   08/31/2020  22000.0  5.484e-03
98   09/01/2020  22800.0  3.636e-02
99   09/02/2020  22960.0  7.018e-03
100  09/03/2020  23380.0  1.829e-02
101  09/04/2020  22960.0 -1.796e-02
102  09/07/2020  22940.0 -8.711e-04
103  09/08/2020  22960.0  8.718e-04
104  09/09/2020  22760.0 -8.711e-03
105  09/10/2020  22720.0 -1.757e-03
106  09/11/2020  22540.0 -7.923e-03
107  09/14/2020  22760.0  9.760e-03
108  09/15/2020  22400.0 -1.582e-02
109  09/16/2020  22300.0 -4.464e-03
110  09/17/2020  22100.0 -8.969e-03
111  09/18/2020  21900.0 -9.050e-03
112  09/21/2020  22060.0  7.306e-03
113  09/22/2020  22240.0  8.160e-03
114  09/23/2020  21900.0 -1.529e-02
115  09/24/2020  22600.0  3.196e-02
116  09/25/2020  22220.0 -1.681e-02
117  09/28/2020  22260.0  1.800e-03
118  09/29/2020  22300.0  1.797e-03
119  09/30/2020  22660.0  1.614e-02
120  10/01/2020  21960.0 -3.089e-02
121  10/02/2020  22000.0  1.821e-03
122  10/05/2020  22030.0  1.364e-03
123  10/06/2020  21900.0 -5.901e-03
124  10/07/2020  22040.0  6.393e-03
125  10/08/2020  22220.0  8.167e-03
126  10/09/2020  22200.0 -9.001e-04
127  10/13/2020  22200.0  0.000e+00
128  10/14/2020  22150.0 -2.252e-03
129  10/15/2020  21880.0 -1.219e-02
130  10/16/2020  22200.0  1.463e-02
131  10/19/2020  22000.0 -9.009e-03
132  10/20/2020  21920.0 -3.636e-03
133  10/21/2020  21660.0 -1.186e-02
134  10/22/2020  21580.0 -3.693e-03
135  10/23/2020  21450.0 -6.024e-03
136  10/26/2020  21470.0  9.324e-04
137  10/27/2020  21280.0 -8.850e-03
138  10/28/2020  21280.0  0.000e+00
139  10/29/2020  22000.0  3.383e-02
140  10/30/2020  21340.0 -3.000e-02
141  11/03/2020  21520.0  8.435e-03
142  11/04/2020  21490.0 -1.394e-03
143  11/05/2020  21690.0  9.307e-03
144  11/06/2020  21680.0 -4.610e-04
145  11/09/2020  22250.0  2.629e-02
146  11/10/2020  22010.0 -1.079e-02
147  11/11/2020  22110.0  4.543e-03
148  11/12/2020  21500.0 -2.759e-02
149  11/13/2020  21510.0  4.651e-04
150  11/17/2020  21490.0 -9.298e-04
151  11/18/2020  21420.0 -3.257e-03
152  11/19/2020  21510.0  4.202e-03
153  11/20/2020  21710.0  9.298e-03
154  11/23/2020  21990.0  1.290e-02
155  11/24/2020  22900.0  4.138e-02
156  11/25/2020  23000.0  4.367e-03
157  11/26/2020  23000.0  0.000e+00
158  11/27/2020  23270.0  1.174e-02
159  11/30/2020  23260.0 -4.297e-04
160  12/01/2020  23400.0  6.019e-03
161  12/02/2020  23600.0  8.547e-03
162  12/03/2020  23700.0  4.237e-03
163  12/04/2020  24190.0  2.068e-02
164  12/07/2020  24210.0  8.268e-04
165  12/09/2020  24200.0 -4.131e-04
166  12/10/2020  23990.0 -8.678e-03
167  12/11/2020  23870.0 -5.002e-03
168  12/14/2020  23920.0  2.095e-03
169  12/15/2020  24120.0  8.361e-03
170  12/16/2020  24000.0 -4.975e-03
171  12/17/2020  24270.0  1.125e-02
172  12/18/2020  23710.0 -2.307e-02
173  12/21/2020  23670.0 -1.687e-03
174  12/22/2020  23420.0 -1.056e-02
175  12/23/2020  23600.0  7.686e-03
176  12/28/2020  23720.0  5.085e-03
177  12/29/2020  24220.0  2.108e-02
178  12/30/2020  24000.0 -9.083e-03
179  01/04/2021  24000.0  0.000e+00
180  01/05/2021  24400.0  1.667e-02
181  01/06/2021  24390.0 -4.098e-04
182  01/07/2021  23300.0 -4.469e-02
183  01/08/2021  23440.0  6.009e-03
184  01/12/2021  23800.0  1.536e-02
185  01/13/2021  23570.0 -9.664e-03
186  01/14/2021  23800.0  9.758e-03
187  01/15/2021  23700.0 -4.202e-03
188  01/18/2021  23710.0  4.219e-04
189  01/19/2021  23700.0 -4.218e-04
190  01/20/2021  24170.0  1.983e-02
191  01/21/2021  24500.0  1.365e-02
192  01/22/2021  24990.0  2.000e-02
193  01/25/2021  25000.0  4.002e-04
194  01/26/2021  24970.0 -1.200e-03
195  01/27/2021  24540.0 -1.722e-02
196  01/28/2021  24320.0 -8.965e-03
197  01/29/2021  24400.0  3.289e-03
198  02/01/2021  24560.0  6.557e-03
199  02/02/2021  24530.0 -1.221e-03
200  02/03/2021  24650.0  4.892e-03
201  02/04/2021  24590.0 -2.434e-03
202  02/05/2021  24650.0  2.440e-03
203  02/08/2021  24740.0  3.651e-03
204  02/09/2021  24500.0 -9.701e-03
205  02/10/2021  24400.0 -4.082e-03
206  02/11/2021  24380.0 -8.197e-04
207  02/12/2021  24000.0 -1.559e-02
208  02/15/2021  23890.0 -4.583e-03
209  02/16/2021  23420.0 -1.967e-02
210  02/17/2021  23750.0  1.409e-02
211  02/18/2021  23650.0 -4.211e-03
212  02/19/2021  23950.0  1.268e-02
213  02/22/2021  23800.0 -6.263e-03
214  02/23/2021  23700.0 -4.202e-03
215  02/24/2021  23600.0 -4.219e-03
216  02/25/2021  23490.0 -4.661e-03
217  02/26/2021  23690.0  8.514e-03
218  03/01/2021  23580.0 -4.643e-03
219  03/02/2021  23400.0 -7.634e-03
220  03/03/2021  23470.0  2.991e-03
221  03/04/2021  23280.0 -8.095e-03
222  03/05/2021  23170.0 -4.725e-03
223  03/08/2021  23350.0  7.769e-03
224  03/09/2021  23400.0  2.141e-03
225  03/10/2021  23500.0  4.274e-03
226  03/11/2021  23600.0  4.255e-03
227  03/12/2021  23350.0 -1.059e-02
228  03/15/2021  23430.0  3.426e-03
229  03/16/2021  23320.0 -4.695e-03
230  03/17/2021  23400.0  3.431e-03
231  03/18/2021  23100.0 -1.282e-02
232  03/19/2021  24830.0  7.489e-02
233  03/23/2021  23530.0 -5.236e-02
234  03/24/2021  23610.0  3.400e-03
235  03/25/2021  23400.0 -8.895e-03
236  03/26/2021  23210.0 -8.120e-03
237  03/29/2021  23210.0  0.000e+00
238  03/30/2021  23220.0  4.308e-04
239  03/31/2021  23170.0 -2.153e-03
240  04/05/2021  22870.0 -1.295e-02
241  04/06/2021  23290.0  1.836e-02
242  04/07/2021  23310.0  8.587e-04
243  04/08/2021  22920.0 -1.673e-02
244  04/09/2021  23100.0  7.853e-03
245  04/12/2021  23240.0  6.061e-03
246  04/13/2021  23090.0 -6.454e-03
247  04/14/2021  22900.0 -8.229e-03
248  04/15/2021  22200.0 -3.057e-02
249  04/16/2021  22700.0  2.252e-02
250  04/19/2021  22800.0  4.405e-03
251  04/20/2021  22700.0 -4.386e-03
252  04/21/2021  22500.0 -8.811e-03
253  04/22/2021  22190.0 -1.378e-02
254  04/23/2021  21980.0 -9.464e-03
255  04/26/2021  21640.0 -1.547e-02
256  04/27/2021  21560.0 -3.697e-03
257  04/28/2021  22180.0  2.876e-02
258  04/29/2021  22580.0  1.803e-02
259  04/30/2021  21500.0 -4.783e-02
260  05/03/2021  20600.0 -4.186e-02
261  05/04/2021  21100.0  2.427e-02
262  05/05/2021  21300.0  9.479e-03
263  05/06/2021  21740.0  2.066e-02
264  05/07/2021  22500.0  3.496e-02
265  05/10/2021  22830.0  1.467e-02
266  05/11/2021  22680.0 -6.570e-03
267  05/12/2021  22400.0 -1.235e-02
268  05/13/2021  22260.0 -6.250e-03
269  05/14/2021  22700.0  1.977e-02
270  05/18/2021  22400.0 -1.322e-02
271  05/19/2021  22260.0 -6.250e-03
272  05/20/2021  22400.0  6.289e-03
273  05/21/2021  21780.0 -2.768e-02
274  05/24/2021  21400.0 -1.745e-02
275  05/25/2021  20900.0 -2.336e-02
276  05/26/2021  20880.0 -9.569e-04
277  05/27/2021  20500.0 -1.820e-02
278  05/28/2021  21020.0  2.537e-02
279  05/31/2021  21600.0  2.759e-02
280  06/01/2021  21960.0  1.667e-02
281  06/02/2021  21600.0 -1.639e-02
282  06/03/2021  21800.0  9.259e-03
283  06/04/2021  21690.0 -5.046e-03
284  06/08/2021  22400.0  3.273e-02
285  06/09/2021  21820.0 -2.589e-02
286  06/10/2021  22180.0  1.650e-02
287  06/11/2021  22400.0  9.919e-03
288  06/15/2021  22490.0  4.018e-03
289  06/16/2021  22190.0 -1.334e-02
290  06/17/2021  22600.0  1.848e-02
291  06/18/2021  22500.0 -4.425e-03
292  06/21/2021  22460.0 -1.778e-03
293  06/22/2021  22100.0 -1.603e-02
294  06/23/2021  22500.0  1.810e-02
295  06/24/2021  22440.0 -2.667e-03
296  06/25/2021  22400.0 -1.783e-03
297  06/28/2021  22350.0 -2.232e-03
298  06/29/2021  21710.0 -2.864e-02
299  06/30/2021  21880.0  7.830e-03
300  07/01/2021  21800.0 -3.656e-03
301  07/02/2021  22640.0  3.853e-02
302  07/06/2021  22310.0 -1.458e-02
303  07/07/2021  22200.0 -4.931e-03
304  07/08/2021  22110.0 -4.054e-03
305  07/09/2021  22130.0  9.046e-04
306  07/12/2021  21990.0 -6.326e-03
307  07/13/2021  21860.0 -5.912e-03
308  07/14/2021  21920.0  2.745e-03
309  07/15/2021  21960.0  1.825e-03
310  07/16/2021  21960.0  0.000e+00
311  07/19/2021  21680.0 -1.275e-02
312  07/21/2021  21400.0 -1.292e-02
313  07/22/2021  20910.0 -2.290e-02
314  07/23/2021  20800.0 -5.261e-03
315  07/26/2021  20980.0  8.654e-03
316  07/27/2021  20860.0 -5.720e-03
317  07/28/2021  20940.0  3.835e-03
318  07/29/2021  20570.0 -1.767e-02
319  07/30/2021  20700.0  6.320e-03
320  08/02/2021  20450.0 -1.208e-02
321  08/03/2021  20350.0 -4.890e-03
322  08/04/2021  20560.0  1.032e-02
323  08/05/2021  20550.0 -4.864e-04
324  08/06/2021  20700.0  7.299e-03
325  08/09/2021  20550.0 -7.246e-03
326  08/10/2021  20990.0  2.141e-02
327  08/11/2021  21150.0  7.623e-03
328  08/12/2021  21250.0  4.728e-03
329  08/13/2021  21400.0  7.059e-03
330  08/17/2021  21950.0  2.570e-02
331  08/18/2021  22980.0  4.692e-02
332  08/19/2021  22870.0 -4.787e-03
333  08/20/2021  22900.0  1.312e-03
334  08/23/2021  22810.0 -3.930e-03
335  08/24/2021  22650.0 -7.014e-03
336  08/25/2021  22640.0 -4.415e-04
337  08/26/2021  22300.0 -1.502e-02
338  08/27/2021  22230.0 -3.139e-03
339  08/30/2021  21880.0 -1.574e-02
340  08/31/2021  21680.0 -9.141e-03
341  09/01/2021  21840.0  7.380e-03
342  09/02/2021  21800.0 -1.832e-03
343  09/03/2021  21780.0 -9.174e-04
344  09/06/2021  21780.0  0.000e+00
345  09/07/2021  21500.0 -1.286e-02
346  09/08/2021  21590.0  4.186e-03
347  09/09/2021  21680.0  4.169e-03
348  09/10/2021  21740.0  2.768e-03
349  09/13/2021  21340.0 -1.840e-02
350  09/14/2021  21650.0  1.453e-02
351  09/15/2021  21550.0 -4.619e-03
352  09/16/2021  21550.0  0.000e+00
353  09/17/2021  21510.0 -1.856e-03
354  09/20/2021  21180.0 -1.534e-02
355  09/21/2021  21450.0  1.275e-02
356  09/22/2021  21550.0  4.662e-03
357  09/23/2021  21450.0 -4.640e-03
358  09/24/2021  21470.0  9.324e-04
359  09/27/2021  21540.0  3.260e-03
360  09/28/2021  21580.0  1.857e-03
361  09/29/2021  21640.0  2.780e-03
362  09/30/2021  21660.0  9.242e-04
363  10/01/2021  21620.0 -1.847e-03
364  10/04/2021  21720.0  4.625e-03
365  10/05/2021  21710.0 -4.604e-04
366  10/06/2021  21800.0  4.146e-03
367  10/07/2021  21890.0  4.128e-03
368  10/08/2021  22080.0  8.680e-03
369  10/11/2021  22070.0 -4.529e-04
370  10/12/2021  21810.0 -1.178e-02
371  10/13/2021  21920.0  5.044e-03
372  10/14/2021  22290.0  1.688e-02
373  10/15/2021  22300.0  4.486e-04
374  10/19/2021  22280.0 -8.969e-04
375  10/20/2021  21980.0 -1.346e-02
376  10/21/2021  22150.0  7.734e-03
377  10/22/2021  21900.0 -1.129e-02
378  10/25/2021  21950.0  2.283e-03
379  10/26/2021  22100.0  6.834e-03
380  10/27/2021  21990.0 -4.977e-03
381  10/28/2021  22200.0  9.550e-03
382  10/29/2021  22010.0 -8.559e-03
383  11/02/2021  22000.0 -4.543e-04
384  11/03/2021  22250.0  1.136e-02
385  11/04/2021  22180.0 -3.146e-03
386  11/05/2021  22100.0 -3.607e-03
387  11/08/2021  22180.0  3.620e-03
388  11/09/2021  21900.0 -1.262e-02
389  11/10/2021  21740.0 -7.306e-03
390  11/22/2021  26780.0  2.318e-01
391  11/23/2021  27000.0  8.215e-03
392  11/24/2021  27940.0  3.481e-02
393  11/25/2021  28240.0  1.074e-02
394  11/26/2021  28250.0  3.541e-04
395  11/29/2021  29400.0  4.071e-02
396  11/30/2021  29050.0 -1.190e-02
397  12/01/2021  28700.0 -1.205e-02
398  12/02/2021  28580.0 -4.181e-03
399  12/03/2021  28500.0 -2.799e-03
400  12/06/2021  28810.0  1.088e-02
401  12/07/2021  28550.0 -9.025e-03
402  12/09/2021  28050.0 -1.751e-02
403  12/10/2021  27530.0 -1.854e-02
404  12/13/2021  27360.0 -6.175e-03
405  12/14/2021  28400.0  3.801e-02
406  12/15/2021  28300.0 -3.521e-03
407  12/16/2021  28490.0  6.714e-03
408  12/17/2021  28390.0 -3.510e-03
409  12/20/2021  28300.0 -3.170e-03
410  12/21/2021  28090.0 -7.420e-03
411  12/22/2021  28390.0  1.068e-02
412  12/23/2021  28400.0  3.522e-04
413  12/24/2021  28400.0  0.000e+00
414  12/27/2021  28320.0 -2.817e-03
415  12/28/2021  28500.0  6.356e-03
416  12/29/2021  28200.0 -1.053e-02
417  12/30/2021  28640.0  1.560e-02
418  01/03/2022  28380.0 -9.078e-03
419  01/04/2022  28350.0 -1.057e-03
420  01/05/2022  28300.0 -1.764e-03
421  01/06/2022  28500.0  7.067e-03
422  01/07/2022  30020.0  5.333e-02
423  01/11/2022  30100.0  2.665e-03
424  01/12/2022  30000.0 -3.322e-03
425  01/13/2022  29020.0 -3.267e-02
426  01/14/2022  27000.0 -6.961e-02
427  01/17/2022  33600.0  2.444e-01
428  02/01/2022  40680.0  2.107e-01
429  02/02/2022  40400.0 -6.883e-03
430  02/03/2022  40740.0  8.416e-03
431  02/04/2022  40860.0  2.946e-03
432  02/07/2022  40690.0 -4.161e-03
433  02/08/2022  40790.0  2.458e-03
434  02/09/2022  40750.0 -9.806e-04
435  02/10/2022  40610.0 -3.436e-03
436  02/11/2022  40680.0  1.724e-03
437  02/14/2022  40700.0  4.916e-04
438  02/15/2022  40520.0 -4.423e-03
439  02/16/2022  40620.0  2.468e-03
440  02/17/2022  40570.0 -1.231e-03
441  02/18/2022  40530.0 -9.860e-04
442  02/21/2022  40610.0  1.974e-03
443  02/22/2022  40800.0  4.679e-03
444  02/23/2022  40800.0  0.000e+00
445  02/24/2022  40790.0 -2.451e-04
446  02/25/2022  40200.0 -1.446e-02
447  02/28/2022  44220.0  1.000e-01
448  03/30/2022  46500.0  5.156e-02
449  03/31/2022  45800.0 -1.505e-02
450  04/01/2022  46500.0  1.528e-02
451  04/04/2022  46600.0  2.151e-03
452  04/05/2022  47180.0  1.245e-02
453  04/06/2022  46800.0 -8.054e-03
454  04/07/2022  45860.0 -2.009e-02
455  04/08/2022  45800.0 -1.308e-03
456  04/11/2022  46230.0  9.389e-03
457  04/12/2022  45800.0 -9.301e-03
458  04/13/2022  46190.0  8.515e-03
459  04/18/2022  46090.0 -2.165e-03
460  04/19/2022  46060.0 -6.509e-04
461  04/20/2022  46060.0  0.000e+00
462  04/21/2022  46900.0  1.824e-02
463  04/22/2022  47340.0  9.382e-03
464  04/26/2022  48100.0  1.605e-02
465  04/27/2022  48480.0  7.900e-03
466  04/28/2022  48500.0  4.125e-04
467  05/02/2022  49950.0  2.990e-02
468  05/03/2022  49200.0 -1.502e-02
469  05/04/2022  49300.0  2.033e-03
470  05/05/2022  50000.0  1.420e-02
471  05/06/2022  49070.0 -1.860e-02
472  05/09/2022  50000.0  1.895e-02
473  05/10/2022  50900.0  1.800e-02
474  05/12/2022  50000.0 -1.768e-02
475  05/13/2022  49590.0 -8.200e-03
476  05/16/2022  49590.0  0.000e+00
477  05/17/2022  44000.0 -1.127e-01
478  05/18/2022  43800.0 -4.545e-03
479  05/19/2022  39900.0 -8.904e-02
480  05/20/2022  41000.0  2.757e-02
481  05/23/2022  39790.0 -2.951e-02
482  05/24/2022  41000.0  3.041e-02
483  05/25/2022  39780.0 -2.976e-02
484  05/26/2022  37660.0 -5.329e-02
485  05/27/2022  40590.0  7.780e-02
486  05/31/2022  37000.0 -8.845e-02
487  06/01/2022  37940.0  2.541e-02
488  06/02/2022  38280.0  8.962e-03
489  06/03/2022  39020.0  1.933e-02
490  06/06/2022  39200.0  4.613e-03
491  06/07/2022  39500.0  7.653e-03
492  06/08/2022  39500.0  0.000e+00
493  06/09/2022  38700.0 -2.025e-02
494  06/10/2022  38790.0  2.326e-03
495  06/13/2022  38580.0 -5.414e-03
496  06/14/2022  37800.0 -2.022e-02
497  06/15/2022  36600.0 -3.175e-02
498  06/16/2022  36790.0  5.191e-03
499  06/17/2022  37400.0  1.658e-02
500  06/21/2022  39700.0  6.150e-02
501  06/22/2022  37580.0 -5.340e-02
502  06/23/2022  38980.0  3.725e-02
503  06/24/2022  38910.0 -1.796e-03
504  06/28/2022  37990.0 -2.364e-02
505  06/29/2022  39600.0  4.238e-02
506  06/30/2022  39600.0  0.000e+00
507  07/01/2022  40000.0  1.010e-02
508  07/05/2022  40990.0  2.475e-02
509  07/06/2022  41900.0  2.220e-02
510  07/07/2022  42000.0  2.387e-03
511  07/08/2022  41670.0 -7.857e-03
512  07/11/2022  42000.0  7.919e-03
513  07/12/2022  43600.0  3.810e-02
514  07/13/2022  43500.0 -2.294e-03
515  07/14/2022  42500.0 -2.299e-02
516  07/15/2022  42480.0 -4.706e-04
517  07/18/2022  42000.0 -1.130e-02
518  07/19/2022  42500.0  1.190e-02
519  07/21/2022  41860.0 -1.506e-02
520  07/22/2022  38510.0 -8.003e-02
521  07/25/2022  40690.0  5.661e-02
522  07/26/2022  40990.0  7.373e-03
523  07/27/2022  40800.0 -4.635e-03
524  07/28/2022  40000.0 -1.961e-02
525  07/29/2022  39900.0 -2.500e-03
526  08/01/2022  38580.0 -3.308e-02
527  08/02/2022  37500.0 -2.799e-02
528  08/03/2022  38000.0  1.333e-02
529  08/04/2022  39000.0  2.632e-02
530  08/05/2022  41000.0  5.128e-02
531  08/08/2022  40840.0 -3.902e-03
532  08/09/2022  40000.0 -2.057e-02
533  08/10/2022  39150.0 -2.125e-02
534  08/11/2022  39430.0  7.152e-03
535  08/12/2022  38010.0 -3.601e-02
536  08/16/2022  37720.0 -7.630e-03
537  08/17/2022  37500.0 -5.832e-03
538  08/18/2022  38500.0  2.667e-02
539  08/19/2022  38500.0  0.000e+00
540  08/22/2022  38480.0 -5.195e-04
541  08/24/2022  39480.0  2.599e-02
542  08/25/2022  38500.0 -2.482e-02
543  08/29/2022  38490.0 -2.597e-04
544  08/30/2022  38490.0  0.000e+00
545  08/31/2022  37000.0 -3.871e-02
546  09/01/2022  38390.0  3.757e-02
547  09/02/2022  38000.0 -1.016e-02
548  09/05/2022  38500.0  1.316e-02
549  09/06/2022  38480.0 -5.195e-04
550  09/07/2022  38000.0 -1.247e-02
551  09/08/2022  38200.0  5.263e-03
552  09/09/2022  38100.0 -2.618e-03
553  09/12/2022  39000.0  2.362e-02

# Definición de estados

In [37]:
new_col = []
l = 20
data = df_nutresa['Yn']

for i, percentage in enumerate(data):
    if(i >= (l - 1)):
        min = i - l + 1
        
        desviacion = np.std(data[min:i])

        if percentage >= (2 * desviacion):
            new_col.append('S3')
        elif percentage >= desviacion:
            new_col.append('S2')
        elif percentage >= 0:
            new_col.append('S1')
        elif percentage >= -(desviacion):
            new_col.append('B1')
        elif percentage >= -(2 * desviacion):
            new_col.append('B2')
        else:
            new_col.append('B3')

df_nutresa = df_nutresa.drop([i for i in range(l-1)])
df_nutresa.insert(2, 'Estado', new_col, True)
df_nutresa = df_nutresa.reset_index(drop=True)

In [38]:
df_nutresa

           Date    Price Estado        Yn
0    05/04/2020  22000.0     B1 -0.002720
1    05/05/2020  21800.0     B1 -0.009091
2    05/06/2020  22000.0     S1  0.009174
3    05/07/2020  22420.0     S1  0.019091
4    05/08/2020  22720.0     S1  0.013381
..          ...      ...    ...       ...
807  02/06/2024  46300.0     S1  0.006522
808  02/07/2024  46880.0     S1  0.012527
809  02/09/2024  46000.0     B2 -0.018771
810  02/13/2024  46740.0     S1  0.016087
811  02/14/2024  46700.0     B1 -0.000856

[812 rows x 4 columns]

In [39]:
estados_posibles = ['B3','B2','B1','S1','S2','S3']

total_cols = len(estados_posibles)
total_rows = total_cols*total_cols

In [40]:
estados = np.array(df_nutresa['Estado'])

markovian_table = np.array(estados)
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
markovian_table = np.vstack([markovian_table,estados])
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
markovian_table = np.vstack([markovian_table,estados])

markovian_table = markovian_table.T
markovian_table = np.delete(markovian_table, [-1, -2], axis=0)
markovian_table

array([['B1', 'B1', 'S1'],
       ['B1', 'S1', 'S1'],
       ['S1', 'S1', 'S1'],
       ...,
       ['S1', 'S1', 'B2'],
       ['S1', 'B2', 'S1'],
       ['B2', 'S1', 'B1']], dtype=object)

In [41]:
expected_freq = [[0] * (total_cols + 1) for i in range(total_cols)]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    expected_freq[row_index][col_index] += 1
    expected_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
expected_freq_df = pd.DataFrame(expected_freq, columns=cols)
cols.pop(-1)
expected_freq_df.insert(0, 'T_Actual', cols)
expected_freq_df

  T_Actual  B3  B2   B1   S1  S2  S3  Recuento
0       B3   2   3    4   10   4   4        27
1       B2   2   4   27   27   9   3        72
2       B1  10  28  123  115  25  11       312
3       S1   6  22  120  118  23   9       298
4       S2   3  12   28   16   4   3        66
5       S3   4   3   10   12   1   5        35

In [42]:
invalid_counter = 0

for i in range(total_cols):
    for j in range(1,total_cols + 1):
        if expected_freq_df.iat[i, j] < 5:
            invalid_counter += 1
            
cumple_empirica = invalid_counter < 0.25 * (total_cols ** 2)
print(f'Cumple la empírica? RTA: {cumple_empirica}')

Cumple la empírica? RTA: False

# Modelo - Matriz de transición

In [43]:
model_freq = [[0] * total_cols for i in range(total_cols)]
total_freq = [0,0,0,0,0,0,0,0]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    model_freq[row_index][col_index] += 1
    total_freq[row_index] += 1

model_transition_prob_df = pd.DataFrame(model_freq, columns=estados_posibles)
model_transition_prob_df.insert(0, 'Actual', estados_posibles)

for i in range(total_cols):
    for j in range(1,total_cols+1):
        model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)

model_transition_prob_df

C:\Users\57320\AppData\Local\Temp\ipykernel_32756\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.07407407407407407' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.1111111111111111' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14814814814814814' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.37037037037037035' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14814814814814814' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\746005964.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14814814814814814' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  model_transition_prob_df.iat[i, j] = (model_transition_prob_df.iat[i, j]/total_freq[i]).astype(float)

  Actual        B3        B2        B1        S1        S2        S3
0     B3  0.074074  0.111111  0.148148  0.370370  0.148148  0.148148
1     B2  0.027778  0.055556  0.375000  0.375000  0.125000  0.041667
2     B1  0.032051  0.089744  0.394231  0.368590  0.080128  0.035256
3     S1  0.020134  0.073826  0.402685  0.395973  0.077181  0.030201
4     S2  0.045455  0.181818  0.424242  0.242424  0.060606  0.045455
5     S3  0.114286  0.085714  0.285714  0.342857  0.028571  0.142857

# Propiedad Markoviana

In [44]:
observed_rows = list(itertools.product(estados_posibles,repeat=2))

observed_freq = [[0] * (total_cols + 1) for i in range(total_rows)]

for i in range(len(markovian_table)):
    history = (markovian_table[i][0],markovian_table[i][1])
    row_index = observed_rows.index(history)
    col_index = estados_posibles.index(markovian_table[i][2])

    observed_freq[row_index][col_index] += 1
    observed_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
observed_freq_df = pd.DataFrame(observed_freq, columns=cols)
observed_freq_df.insert(0, 'History', observed_rows)
observed_freq_df

     History  B3  B2  B1  S1  S2  S3  Recuento
0   (B3, B3)   0   0   0   0   1   1         2
1   (B3, B2)   1   0   1   1   0   0         3
2   (B3, B1)   1   1   1   0   0   1         4
3   (B3, S1)   1   1   3   3   1   1        10
4   (B3, S2)   0   1   2   1   0   0         4
5   (B3, S3)   1   0   0   2   0   1         4
6   (B2, B3)   0   1   0   1   0   0         2
7   (B2, B2)   0   0   0   3   0   1         4
8   (B2, B1)   2   3   6  10   2   4        27
9   (B2, S1)   1   2  11  10   3   0        27
10  (B2, S2)   0   0   5   3   1   0         9
11  (B2, S3)   1   1   1   0   0   0         3
12  (B1, B3)   1   0   0   5   2   2        10
13  (B1, B2)   1   2  13   8   3   1        28
14  (B1, B1)   0  14  53  49   7   1       124
15  (B1, S1)   3   9  52  43   5   3       115
16  (B1, S2)   1   4  13   4   1   2        25
17  (B1, S3)   0   1   4   3   1   2        11
18  (S1, B3)   0   1   3   0   1   1         6
19  (S1, B2)   0   1   9   8   3   1        22
20  (S1, B1)   5   9  47  42  12   4       119
21  (S1, S1)   1  10  37  54  11   5       118
22  (S1, S2)   1   6   8   5   2   1        23
23  (S1, S3)   1   0   2   5   0   1         9
24  (S2, B3)   1   0   1   1   0   0         3
25  (S2, B2)   0   1   4   4   3   0        12
26  (S2, B1)   2   0  14   7   4   1        28
27  (S2, S1)   0   0  10   4   2   0        16
28  (S2, S2)   0   1   0   3   0   0         4
29  (S2, S3)   1   1   0   0   0   1         3
30  (S3, B3)   0   1   0   3   0   0         4
31  (S3, B2)   0   0   0   3   0   0         3
32  (S3, B1)   0   1   2   7   0   0        10
33  (S3, S1)   0   0   7   4   1   0        12
34  (S3, S2)   1   0   0   0   0   0         1
35  (S3, S3)   0   0   3   2   0   0         5

In [45]:
observed_prob_df = observed_freq_df.copy()
for i in range(total_rows):
    for j in range(1,total_cols+1):
        if observed_prob_df.iat[i, total_cols+1] == 0:
            observed_prob_df.iat[i, j] = 0
        else:
            observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)

observed_prob_df = observed_prob_df.drop(columns=['Recuento'], axis=1)
observed_prob_df

C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.3333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1372542959.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.25' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_df.iat[i, j] = (observed_prob_df.iat[i, j]/observed_prob_df.iat[i, total_cols+1]).astype(float)

     History        B3        B2        B1        S1        S2        S3
0   (B3, B3)  0.000000  0.000000  0.000000  0.000000  0.500000  0.500000
1   (B3, B2)  0.333333  0.000000  0.333333  0.333333  0.000000  0.000000
2   (B3, B1)  0.250000  0.250000  0.250000  0.000000  0.000000  0.250000
3   (B3, S1)  0.100000  0.100000  0.300000  0.300000  0.100000  0.100000
4   (B3, S2)  0.000000  0.250000  0.500000  0.250000  0.000000  0.000000
5   (B3, S3)  0.250000  0.000000  0.000000  0.500000  0.000000  0.250000
6   (B2, B3)  0.000000  0.500000  0.000000  0.500000  0.000000  0.000000
7   (B2, B2)  0.000000  0.000000  0.000000  0.750000  0.000000  0.250000
8   (B2, B1)  0.074074  0.111111  0.222222  0.370370  0.074074  0.148148
9   (B2, S1)  0.037037  0.074074  0.407407  0.370370  0.111111  0.000000
10  (B2, S2)  0.000000  0.000000  0.555556  0.333333  0.111111  0.000000
11  (B2, S3)  0.333333  0.333333  0.333333  0.000000  0.000000  0.000000
12  (B1, B3)  0.100000  0.000000  0.000000  0.500000  0.200000  0.200000
13  (B1, B2)  0.035714  0.071429  0.464286  0.285714  0.107143  0.035714
14  (B1, B1)  0.000000  0.112903  0.427419  0.395161  0.056452  0.008065
15  (B1, S1)  0.026087  0.078261  0.452174  0.373913  0.043478  0.026087
16  (B1, S2)  0.040000  0.160000  0.520000  0.160000  0.040000  0.080000
17  (B1, S3)  0.000000  0.090909  0.363636  0.272727  0.090909  0.181818
18  (S1, B3)  0.000000  0.166667  0.500000  0.000000  0.166667  0.166667
19  (S1, B2)  0.000000  0.045455  0.409091  0.363636  0.136364  0.045455
20  (S1, B1)  0.042017  0.075630  0.394958  0.352941  0.100840  0.033613
21  (S1, S1)  0.008475  0.084746  0.313559  0.457627  0.093220  0.042373
22  (S1, S2)  0.043478  0.260870  0.347826  0.217391  0.086957  0.043478
23  (S1, S3)  0.111111  0.000000  0.222222  0.555556  0.000000  0.111111
24  (S2, B3)  0.333333  0.000000  0.333333  0.333333  0.000000  0.000000
25  (S2, B2)  0.000000  0.083333  0.333333  0.333333  0.250000  0.000000
26  (S2, B1)  0.071429  0.000000  0.500000  0.250000  0.142857  0.035714
27  (S2, S1)  0.000000  0.000000  0.625000  0.250000  0.125000  0.000000
28  (S2, S2)  0.000000  0.250000  0.000000  0.750000  0.000000  0.000000
29  (S2, S3)  0.333333  0.333333  0.000000  0.000000  0.000000  0.333333
30  (S3, B3)  0.000000  0.250000  0.000000  0.750000  0.000000  0.000000
31  (S3, B2)  0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
32  (S3, B1)  0.000000  0.100000  0.200000  0.700000  0.000000  0.000000
33  (S3, S1)  0.000000  0.000000  0.583333  0.333333  0.083333  0.000000
34  (S3, S2)  1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
35  (S3, S3)  0.000000  0.000000  0.600000  0.400000  0.000000  0.000000

In [46]:
expected_freq = [[0] * (total_cols + 1) for i in range(total_cols)]

for i in range(len(markovian_table)):
    actual = markovian_table[i][1]
    row_index = estados_posibles.index(actual)
    col_index = estados_posibles.index(markovian_table[i][2])

    expected_freq[row_index][col_index] += 1
    expected_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
expected_freq_df = pd.DataFrame(expected_freq, columns=cols)
cols.pop(-1)
expected_freq_df.insert(0, 'History', cols)
expected_freq_df

  History  B3  B2   B1   S1  S2  S3  Recuento
0      B3   2   3    4   10   4   4        27
1      B2   2   4   27   27   9   3        72
2      B1  10  28  123  115  25  11       312
3      S1   6  22  120  118  23   9       298
4      S2   3  12   28   16   4   3        66
5      S3   4   3   10   12   1   5        35

In [47]:
expected_prob_df = expected_freq_df.copy()
for i in range(total_cols):
    for j in range(1,total_cols+1):
        expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)

expected_prob_df = expected_prob_df.drop(columns=['Recuento'], axis=1)
expected_prob_df

C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.07407407407407407' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.1111111111111111' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14814814814814814' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.37037037037037035' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14814814814814814' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1491194249.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.14814814814814814' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  expected_prob_df.iat[i, j] = (expected_prob_df.iat[i, j]/expected_prob_df.iat[i, total_cols+1]).astype(float)

  History        B3        B2        B1        S1        S2        S3
0      B3  0.074074  0.111111  0.148148  0.370370  0.148148  0.148148
1      B2  0.027778  0.055556  0.375000  0.375000  0.125000  0.041667
2      B1  0.032051  0.089744  0.394231  0.368590  0.080128  0.035256
3      S1  0.020134  0.073826  0.402685  0.395973  0.077181  0.030201
4      S2  0.045455  0.181818  0.424242  0.242424  0.060606  0.045455
5      S3  0.114286  0.085714  0.285714  0.342857  0.028571  0.142857

In [48]:
chi_values = []
k = 0

for i in range(total_rows):
    for j in range(1,total_cols+1):
        if expected_prob_df.iat[k,j] == 0:
            chi_parcial = (0)
        else: 
            chi_parcial = observed_freq_df.iat[i,total_cols+1] * ((observed_prob_df.iat[i,j] - expected_prob_df.iat[k,j]) ** 2) / expected_prob_df.iat[k,j]

        chi_values.append(chi_parcial)

    k += 1
    if k == total_cols:
        k = 0

chi_observado = sum(chi_values)
chi_observado

189.95310240493595

In [49]:
from scipy.stats.distributions import chi2

alpha = 0.01
rows = total_rows
cols = total_cols
grados = (rows - 1)*(cols - 1)

chi_teorico = chi2.ppf(1 - alpha, df=grados)
chi_teorico

221.4383745662851

In [50]:
is_not_markovian = chi_observado >= chi_teorico
print(f'Se rechaza la cadena (no es markoviana)? RTA: {is_not_markovian}')

Se rechaza la cadena (no es markoviana)? RTA: False

# Propiedad Estacionaria

Definiremos los periodos de tiempo como años

In [51]:
new_col = []
for date in df_nutresa['Date']:
    if '2020' in date:
        new_col.append(1)
    elif '2021' in date:
        new_col.append(2)
    elif '2022' in date:
        new_col.append(3)
    elif '2023' in date:
        new_col.append(4)
    else:
        new_col.append(5)
df_nutresa.insert(2, 'Periodo', new_col, True)

df_nutresa

           Date    Price  Periodo Estado        Yn
0    05/04/2020  22000.0        1     B1 -0.002720
1    05/05/2020  21800.0        1     B1 -0.009091
2    05/06/2020  22000.0        1     S1  0.009174
3    05/07/2020  22420.0        1     S1  0.019091
4    05/08/2020  22720.0        1     S1  0.013381
..          ...      ...      ...    ...       ...
807  02/06/2024  46300.0        5     S1  0.006522
808  02/07/2024  46880.0        5     S1  0.012527
809  02/09/2024  46000.0        5     B2 -0.018771
810  02/13/2024  46740.0        5     S1  0.016087
811  02/14/2024  46700.0        5     B1 -0.000856

[812 rows x 5 columns]

In [52]:
periodos = np.array(df_nutresa['Periodo'])
estados = np.array(df_nutresa['Estado'])

stationary_table = np.array(periodos)
stationary_table = np.vstack([stationary_table, estados])
estados = np.delete(estados, 0)
estados = np.append(estados, 0)
stationary_table = np.vstack([stationary_table, estados])

stationary_table = stationary_table.T
stationary_table = np.delete(stationary_table, -1, axis=0)
stationary_table

array([[1, 'B1', 'B1'],
       [1, 'B1', 'S1'],
       [1, 'S1', 'S1'],
       ...,
       [5, 'S1', 'B2'],
       [5, 'B2', 'S1'],
       [5, 'S1', 'B1']], dtype=object)

In [53]:
observed_rows = list(itertools.product([1,2,3,4,5], estados_posibles))

observed_freq = [[0] * (total_cols + 1) for i in range(len(observed_rows))]

for i in range(len(markovian_table)):
    history = (stationary_table[i][0], stationary_table[i][1])
    row_index = observed_rows.index(history)
    col_index = estados_posibles.index(stationary_table[i][2])

    observed_freq[row_index][col_index] += 1
    observed_freq[row_index][total_cols] += 1

cols = estados_posibles.copy()
cols.append('Recuento')
observed_freq_stat_df = pd.DataFrame(observed_freq, columns=cols)
observed_freq_stat_df.insert(0, 'History', observed_rows)
observed_freq_stat_df

    History  B3  B2  B1  S1  S2  S3  Recuento
0   (1, B3)   0   1   1   3   0   0         5
1   (1, B2)   0   1   4   6   0   1        12
2   (1, B1)   1   3  26  23   7   1        61
3   (1, S1)   1   4  21  26   5   5        62
4   (1, S2)   2   1   6   2   0   1        12
5   (1, S3)   1   2   2   3   0   0         8
6   (2, B3)   1   0   0   3   3   1         8
7   (2, B2)   0   0  12   6   2   0        20
8   (2, B1)   4  11  35  33  10   5        98
9   (2, S1)   1   6  38  29   5   2        81
10  (2, S2)   1   2  12   6   2   0        23
11  (2, S3)   1   1   2   3   1   1         9
12  (3, B3)   1   0   1   3   1   2         8
13  (3, B2)   0   2   3   5   2   1        13
14  (3, B1)   4   3  32  27   3   2        71
15  (3, S1)   2   3  27  38   5   1        76
16  (3, S2)   0   6   4   1   1   0        12
17  (3, S3)   1   0   3   2   0   2         8
18  (4, B3)   0   2   1   1   0   1         5
19  (4, B2)   2   1   8   8   5   1        25
20  (4, B1)   1  10  29  28   5   2        75
21  (4, S1)   1   8  28  18   8   1        64
22  (4, S2)   0   3   6   7   1   2        19
23  (4, S3)   1   0   3   3   0   2         9
24  (5, B3)   0   0   1   0   0   0         1
25  (5, B2)   0   0   0   2   0   0         2
26  (5, B1)   0   1   2   4   0   1         8
27  (5, S1)   1   1   5   7   0   0        14
28  (5, S2)   0   0   0   0   0   0         0
29  (5, S3)   0   0   0   1   0   0         1

In [54]:
observed_prob_stat_df = observed_freq_stat_df.copy()
for i in range(len(observed_rows)):
    for j in range(1,total_cols+1):
        if observed_prob_stat_df.iat[i, total_cols+1] == 0:
            observed_prob_stat_df.iat[i, j] = 0
        else:
            observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)

observed_prob_stat_df = observed_prob_stat_df.drop(columns=['Recuento'], axis=1)
observed_prob_stat_df

C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.2' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.08333333333333333' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.01639344262295082' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)
C:\Users\57320\AppData\Local\Temp\ipykernel_32756\1821551178.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.11475409836065574' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  observed_prob_stat_df.iat[i, j] = (observed_prob_stat_df.iat[i, j]/observed_prob_stat_df.iat[i, total_cols+1]).astype(float)

    History        B3        B2        B1        S1        S2        S3
0   (1, B3)  0.000000  0.200000  0.200000  0.600000  0.000000  0.000000
1   (1, B2)  0.000000  0.083333  0.333333  0.500000  0.000000  0.083333
2   (1, B1)  0.016393  0.049180  0.426230  0.377049  0.114754  0.016393
3   (1, S1)  0.016129  0.064516  0.338710  0.419355  0.080645  0.080645
4   (1, S2)  0.166667  0.083333  0.500000  0.166667  0.000000  0.083333
5   (1, S3)  0.125000  0.250000  0.250000  0.375000  0.000000  0.000000
6   (2, B3)  0.125000  0.000000  0.000000  0.375000  0.375000  0.125000
7   (2, B2)  0.000000  0.000000  0.600000  0.300000  0.100000  0.000000
8   (2, B1)  0.040816  0.112245  0.357143  0.336735  0.102041  0.051020
9   (2, S1)  0.012346  0.074074  0.469136  0.358025  0.061728  0.024691
10  (2, S2)  0.043478  0.086957  0.521739  0.260870  0.086957  0.000000
11  (2, S3)  0.111111  0.111111  0.222222  0.333333  0.111111  0.111111
12  (3, B3)  0.125000  0.000000  0.125000  0.375000  0.125000  0.250000
13  (3, B2)  0.000000  0.153846  0.230769  0.384615  0.153846  0.076923
14  (3, B1)  0.056338  0.042254  0.450704  0.380282  0.042254  0.028169
15  (3, S1)  0.026316  0.039474  0.355263  0.500000  0.065789  0.013158
16  (3, S2)  0.000000  0.500000  0.333333  0.083333  0.083333  0.000000
17  (3, S3)  0.125000  0.000000  0.375000  0.250000  0.000000  0.250000
18  (4, B3)  0.000000  0.400000  0.200000  0.200000  0.000000  0.200000
19  (4, B2)  0.080000  0.040000  0.320000  0.320000  0.200000  0.040000
20  (4, B1)  0.013333  0.133333  0.386667  0.373333  0.066667  0.026667
21  (4, S1)  0.015625  0.125000  0.437500  0.281250  0.125000  0.015625
22  (4, S2)  0.000000  0.157895  0.315789  0.368421  0.052632  0.105263
23  (4, S3)  0.111111  0.000000  0.333333  0.333333  0.000000  0.222222
24  (5, B3)  0.000000  0.000000  1.000000  0.000000  0.000000  0.000000
25  (5, B2)  0.000000  0.000000  0.000000  1.000000  0.000000  0.000000
26  (5, B1)  0.000000  0.125000  0.250000  0.500000  0.000000  0.125000
27  (5, S1)  0.071429  0.071429  0.357143  0.500000  0.000000  0.000000
28  (5, S2)  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
29  (5, S3)  0.000000  0.000000  0.000000  1.000000  0.000000  0.000000

In [55]:
expected_prob_df

  History        B3        B2        B1        S1        S2        S3
0      B3  0.074074  0.111111  0.148148  0.370370  0.148148  0.148148
1      B2  0.027778  0.055556  0.375000  0.375000  0.125000  0.041667
2      B1  0.032051  0.089744  0.394231  0.368590  0.080128  0.035256
3      S1  0.020134  0.073826  0.402685  0.395973  0.077181  0.030201
4      S2  0.045455  0.181818  0.424242  0.242424  0.060606  0.045455
5      S3  0.114286  0.085714  0.285714  0.342857  0.028571  0.142857

In [56]:
chi_values = []
k = 0

for i in range(len(observed_rows)):
    for j in range(1,total_cols+1):
        if expected_prob_df.iat[k,j] == 0:
            chi_parcial = 0
        else: 
            chi_parcial = observed_freq_stat_df.iat[i,total_cols+1] * ((observed_prob_stat_df.iat[i,j] - expected_prob_df.iat[k,j]) ** 2) / expected_prob_df.iat[k,j]

        chi_values.append(chi_parcial)

    k += 1
    if k == total_cols:
        k = 0

chi_stat_observado = sum(chi_values)
chi_stat_observado

116.21104523537792

In [57]:
is_not_stationary = chi_stat_observado >= chi_teorico
print(f'La cadena no cumple la propiedad estacionaria? RTA: {is_not_stationary}')

La cadena no cumple la propiedad estacionaria? RTA: False

# Análisis de la cadena

## Punto A.

In [58]:
secuencias_posibles = list(itertools.product(estados_posibles[3:6], repeat=3))

secuencias_posibles

[('S1', 'S1', 'S1'),
 ('S1', 'S1', 'S2'),
 ('S1', 'S1', 'S3'),
 ('S1', 'S2', 'S1'),
 ('S1', 'S2', 'S2'),
 ('S1', 'S2', 'S3'),
 ('S1', 'S3', 'S1'),
 ('S1', 'S3', 'S2'),
 ('S1', 'S3', 'S3'),
 ('S2', 'S1', 'S1'),
 ('S2', 'S1', 'S2'),
 ('S2', 'S1', 'S3'),
 ('S2', 'S2', 'S1'),
 ('S2', 'S2', 'S2'),
 ('S2', 'S2', 'S3'),
 ('S2', 'S3', 'S1'),
 ('S2', 'S3', 'S2'),
 ('S2', 'S3', 'S3'),
 ('S3', 'S1', 'S1'),
 ('S3', 'S1', 'S2'),
 ('S3', 'S1', 'S3'),
 ('S3', 'S2', 'S1'),
 ('S3', 'S2', 'S2'),
 ('S3', 'S2', 'S3'),
 ('S3', 'S3', 'S1'),
 ('S3', 'S3', 'S2'),
 ('S3', 'S3', 'S3')]

In [59]:
probabilidad_total = 0
for secuencia in secuencias_posibles:
    prob_1 = model_transition_prob_df[secuencia[1]][list(model_transition_prob_df['Actual']).index(secuencia[0])]
    prob_2 = model_transition_prob_df[secuencia[2]][list(model_transition_prob_df['Actual']).index(secuencia[1])]
    prob = prob_1 * prob_2
    probabilidad_total += prob
    
probabilidad_total

0.6642716857087977

## Punto B.

In [60]:
secuencias_posibles = list(itertools.product(estados_posibles[0:3], repeat=3))

secuencias_posibles

[('B3', 'B3', 'B3'),
 ('B3', 'B3', 'B2'),
 ('B3', 'B3', 'B1'),
 ('B3', 'B2', 'B3'),
 ('B3', 'B2', 'B2'),
 ('B3', 'B2', 'B1'),
 ('B3', 'B1', 'B3'),
 ('B3', 'B1', 'B2'),
 ('B3', 'B1', 'B1'),
 ('B2', 'B3', 'B3'),
 ('B2', 'B3', 'B2'),
 ('B2', 'B3', 'B1'),
 ('B2', 'B2', 'B3'),
 ('B2', 'B2', 'B2'),
 ('B2', 'B2', 'B1'),
 ('B2', 'B1', 'B3'),
 ('B2', 'B1', 'B2'),
 ('B2', 'B1', 'B1'),
 ('B1', 'B3', 'B3'),
 ('B1', 'B3', 'B2'),
 ('B1', 'B3', 'B1'),
 ('B1', 'B2', 'B3'),
 ('B1', 'B2', 'B2'),
 ('B1', 'B2', 'B1'),
 ('B1', 'B1', 'B3'),
 ('B1', 'B1', 'B2'),
 ('B1', 'B1', 'B1')]

In [61]:
probabilidad_total = 0
for secuencia in secuencias_posibles:
    prob_1 = model_transition_prob_df[secuencia[1]][list(model_transition_prob_df['Actual']).index(secuencia[0])]
    prob_2 = model_transition_prob_df[secuencia[2]][list(model_transition_prob_df['Actual']).index(secuencia[1])]
    prob = prob_1 * prob_2
    probabilidad_total += prob
    
probabilidad_total

0.6355467893929432

## Punto C.

In [62]:
import numpy as np
 
# Define the transition matrix
P = model_transition_prob_df.drop(columns=['Actual']).to_numpy(copy=True)
 
# Calculate the eigenvalues and eigenvectors
eigenvalues, eigenvectors = np.linalg.eig(P.T)
 
# Find the eigenvector corresponding to eigenvalue 1
stationary_distribution = np.array(eigenvectors[:, np.isclose(eigenvalues, 1)])
 
# Normalize the stationary distribution
stationary_distribution = stationary_distribution / stationary_distribution.sum()

#Convert to real numbers
stationary_distribution = stationary_distribution.real

#Convert to 1,6 vector
stationary_distribution = stationary_distribution.T
 
print("Stationary Distribution:", stationary_distribution)

Stationary Distribution: [[0.03333333 0.08888889 0.38518519 0.36790123 0.08148148 0.04320988]]

In [63]:
np.dot(stationary_distribution, P)

array([[0.03333333, 0.08888889, 0.38518519, 0.36790123, 0.08148148,
        0.04320988]])

In [64]:
def calcular_primeras_pasadas(transition_matrix):
    n = len(transition_matrix)

    p_matrix = np.zeros((n**2, n**2))
    for i in range(n):
        for j in range(n):
            for k in range(n):
                if k != j:
                    p_matrix[i * n + j][k * n + j] = transition_matrix[i][k]

    A =  p_matrix - np.eye(n ** 2)
    B = np.ones(shape=(n**2))
    ans_vector = np.linalg.solve(A, -B)
    return ans_vector

vector_primeras_pasadas = calcular_primeras_pasadas(P)
matriz_primeras_pasadas = np.array(vector_primeras_pasadas).reshape((int(len(vector_primeras_pasadas)**0.5), int(len(vector_primeras_pasadas)**0.5)))
print("Matriz de tiempos de primera pasada:")
print(matriz_primeras_pasadas)

Matriz de tiempos de primera pasada:
[[30.         10.61281077  3.30545714  2.8231404  11.29859858 23.08960246]
 [31.78426623 11.25        2.64128946  2.79431904 11.57774448 26.04196358]
 [31.68994966 10.91914873  2.59615385  2.79632235 12.09503655 26.20516031]
 [32.09325913 11.10428923  2.56232467  2.71812081 12.14665394 26.38323304]
 [31.20289292  9.90682786  2.54116961  3.14316882 12.27272727 25.8652998 ]
 [28.78580993 10.99336763  2.98115875  2.85939704 12.72126135 23.14285714]]

## Punto D.